header {
  --shadow: 0px 2px 9px rgba(0, 0, 0, 0.15);
  --font-size-app-name: var(--telekom-typography-font-size-small);
  --line-height-app-name: var(--telekom-typography-line-spacing-tight);
  --font-weight-app-name: var(--telekom-typography-font-weight-extra-bold);
  --icon-search: var(--original-icon-search-dark);
  --icon-user: var(--original-icon-user-dark);
}

@media (prefers-color-scheme: dark) {
  header {
    --icon-search: var(--original-icon-search-white);
    --icon-user: var(--original-icon-user-white);
  }
}
#body-user #header,
#body-settings #header,
#body-public #header {
  background-color: var(--telekom-color-background-surface);
  box-shadow: var(--shadow);
  height: var(--header-height);
}

#nextcloud {
  height: 100%;
  margin: 0 var(--telekom-spacing-baseline-space-10) 0 0;
  overflow: visible;
  padding: 0;
  padding-left: 60px;
}
#nextcloud::before {
  color: var(--color-primary);
  content: "MagentaCLOUD";
  display: block;
  font-size: var(--font-size-app-name);
  font-weight: var(--font-weight-app-name);
  height: 60px;
  left: 72px;
  line-height: 60px;
  margin: 0;
  pointer-events: all;
  position: absolute;
  top: 0;
  width: auto;
  z-index: 3000;
}

#header .logo {
  background-image: var(--image-logoheader);
  bottom: 0;
  left: 0;
  top: 0;
  width: 60px;
}
@media screen and (max-width: 1024px) {
  #header #nextcloud {
    display: none;
  }
  #header #header-left, #header .header-left {
    flex: unset;
    flex-shrink: 1;
    justify-content: flex-end;
    order: 3;
  }
  #header #header-right, #header .header-right {
    flex-grow: 1;
    flex-shrink: unset;
    order: 2;
  }
  #header::before {
    background-color: var(--color-primary);
    background-image: var(--image-logoheader);
    content: " ";
    display: block;
    height: 60px;
    left: 0;
    margin: 0;
    pointer-events: all;
    position: absolute;
    top: 0;
    transition: none;
    width: 60px;
    z-index: 3000;
  }
}

#unified-search .header-menu__trigger {
  background-image: var(--icon-search);
  background-size: auto 24px;
  background-position: center;
  background-repeat: no-repeat;
}
#unified-search .header-menu__trigger:hover {
  filter: brightness(0) saturate(100%) invert(13%) sepia(85%) saturate(6096%) hue-rotate(321deg) brightness(75%) contrast(104%) !important;
}
#unified-search .unified-search__trigger {
  display: none;
}

@media screen and (max-width: 1024px) {
  #user-menu {
    margin-right: var(--telekom-spacing-composition-space-03);
  }
}
#user-menu .header-menu__trigger {
  background-image: var(--icon-user);
  background-size: auto 24px;
  background-position: center;
  background-repeat: no-repeat;
}
#user-menu .header-menu__trigger:hover {
  filter: brightness(0) saturate(100%) invert(13%) sepia(85%) saturate(6096%) hue-rotate(321deg) brightness(75%) contrast(104%) !important;
}
#user-menu .user-menu__avatar {
  display: none;
}
#user-menu .header-menu__content {
  width: 350px !important;
}
#user-menu .user-menu__nav ul {
  width: 100%;
}
#user-menu.header-menu--opened .header-menu__carret {
  display: block !important;
}

#body-public #nextcloud.header-appname {
  align-self: center;
  color: var(--color-primary);
  display: inline-flex;
  flex: 1;
  font-size: var(--font-size-app-name);
  font-weight: var(--font-weight-app-name);
  justify-content: flex-end;
  margin-right: var(--telekom-spacing-composition-space-10);
  overflow: unset;
  padding: 0;
}
@media screen and (max-width: 1024px) {
  #body-public #nextcloud::before {
    content: "";
    display: none;
    height: 0;
    left: 0;
    top: 0;
    width: 0;
    z-index: 0;
  }
}
#body-public .header-shared-by {
  font-size: var(--font-size-app-name);
  font-weight: var(--font-weight-app-name);
  line-height: var(--line-height-app-name);
}/*# sourceMappingURL=header.css.map */