@telekom-ods:registry=https://artifactory.devops.telekom.de/artifactory/api/npm/one-design-system-npm/
//artifactory.devops.telekom.de/artifactory/api/npm/one-design-system-npm/:_authToken=${JFROG_TOKEN}
ignore-scripts=false
foreground-scripts=true
email = ${JFROG_EMAIL}
always-auth = true