@import '../mixins.scss';

/**
* Custom 'File already exists' dialog
*/
.oc-dialog.oc-conflict-pre-dlg {
	width: 100%;
	max-width: var(--telekom-size-generic-size-24);

	// modal dialog title
	div.flex-container {
		display: flex;
		justify-content: space-between;

		// close button
		.oc-conflict-pre-dlg-close-div {
			margin: -15px -15px 0 0;
			width: 35px;
			height: 35px;
			border-radius: var(--telekom-radius-standard);
			&:hover {
				background-color: var(--nmc-color-background-hover);
			}
			a {
				display: block;
				background-image: var(--icon-close-dark);
				background-repeat: no-repeat;
				background-position: center;
				background-size: 24px;
				width: 35px;
				height: 35px;
				&:hover {
					@include color-icon;
				}
			}
		}
	}

	div.threebuttons {
		display: flex;
		justify-content: end;
		gap: var(--telekom-spacing-composition-space-04);

		button {
			min-height: var(--telekom-size-generic-size-12);
			border-radius: var(--telekom-radius-standard);
			text-align: center;
			border: 1px solid #191919;
			padding: 0 var(--telekom-spacing-composition-space-07);
			font: var(--telekom-text-style-body-bold);
			background-color: var(--color-main-background);

			&:hover {
				cursor: pointer;
				border: 1px solid #191919;
				background-color: var(--nmc-color-background-hover);
			}

			&.primary:active, &.primary:focus, &.primary:hover {
				border-color: inherit;
				color: inherit;
				background-color: inherit;
			}

			// separate styling for 'Replace' button
			&.oc-conflict-pre-dlg-replace-button {
				border: 1px solid var(--telekom-color-primary-standard);
				background-color: var(--telekom-color-primary-standard);
				color: var(--color-main-background);

				&:hover {
					background-color: var(--telekom-color-primary-hovered);
				}

				&.primary:active, &.primary:focus, &.primary:hover {
					border: 1px solid var(--telekom-color-primary-standard);
					background-color: var(--telekom-color-primary-standard);
					color: var(--color-main-background);
				}
			}
		}
	}
}

@media (prefers-color-scheme: dark) {
	.oc-dialog.oc-conflict-pre-dlg {
		border: 1px solid var(--telekom-color-ui-regular);
	}
}
