@import '../mixins.scss';
@import '../variables';

/**
* Sidebar navigation styling for v25
*/

#app-navigation:not(.vue) {
	// hide scrollbar which appears due to incorrect container height
	overflow: hidden;
	backdrop-filter: none;
	border-top-left-radius: 0;
	// add vertical line to demarcate app navigation
	border-right: 1px solid var(--telekom-color-ui-faint);
	
	& > ul {
		padding: 4rem 1.5rem 1.5rem;
	}
	@media screen and (max-height: 768px) {
		& > ul {
			padding: 1.5rem;
		}
	}

	& > ul > li {
		// remove already hidden from DOM so they won't take up space
		&.hidden-visually{
			display: none;
		}

		font: var(--telekom-text-style-ui-bold);
		margin-bottom: var(--telekom-spacing-composition-space-03);

		// nav links with icons
		& > a {
			border-radius: var(--telekom-radius-standard);
			// increase sidebar link height
			line-height: 52px;
			min-height: 52px;
			// hide all initial icons
			background-image: none;

			&:first-child {

				img {
					width: 24px;
    				height: 24px;
					filter: var(--background-invert-if-dark);
					
					@media (prefers-color-scheme: dark) {
						filter: var(--background-invert-if-bright);
					}
				}
			}
		}

		& > a:hover,  & > a.active, &.active > a {
			color: var(--telekom-color-text-and-icon-primary-standard);
			background-color: var(--nmc-color-background-hover);

			&::after, img {
				@include color-icon;
			}
		}

		// do not pin app navigation entries to the bottom
		&.pinned.first-pinned {
			margin-top: initial !important;
		}

		// icon styling
		& > a.svg::after {
			content: '';
			display: block;
			position: absolute;
			top: 0px;
			left: 2px;
			height: 100%;
			width: 44px;
			background-repeat: no-repeat;
			background-position: center;
			background-size: 24px 24px;
		}

		// hide all collapsible buttons
		&.collapsible::before, button.collapse {
			display: none;
		}
	}


	// set telekom icons
	.nav-icon-files::after {
		background-image: var(--icon-folder-dark);
	}
	.nav-icon-recent::after {
		background-image: var(--icon-history-dark);
	}
	.nav-icon-favorites::after {
		background-image: var(--icon-star-dark);
	}
	.nav-icon-favorites-starred::after {
		background-image: var(--icon-starred-yellow);
	}
	.nav-icon-shareoverview::after {
		background-image: var(--icon-share-dark);
	}
	.nav-icon-systemtagsfilter::after {
		background-image: var(--icon-tag-dark);
	}
	.nav-icon-trashbin::after {
		background-image: var(--icon-delete-dark);
	}
	.nav-icon-trashbin-starred::after {
		background-image: var(--icon-delete-starred-warning);
	}
	.nav-icon-sharingout::after {
		background-image: var(--icon-share-dark);
	}
	.nav-icon-sharingin::after {
		background-image: var(--icon-attachment-dark);
	}

	// hide nextcloud Storage quota element
	#quota {
		display: none;
	}
}

@media screen and (max-width: 1023px) {
	
	#app-navigation:not(.vue) {
		border-radius: 0;
		transform: translateX(-316px);
	}

	.snapjs-left {

		#app-navigation:not(.vue) {
			transform: translateX(0px);
		}
	}

	#app-navigation-toggle {
		position: absolute;
	}
}

// hide nextcloud Files settings element
#app-settings {
	#app-settings-header {
		display: none;
	}
}

.app-settings {
	
	#app-navigation:not(.vue) {
	
		& > ul > li {
			display: none;
		}
	}
}