$breakpoint-mobile: 1024px;
$breakpoint-mobile-small: 480px;

:root {
	--body-height: calc(100% - 144px - var(--body-container-margin));
}

@media screen and (max-width: $breakpoint-mobile-small) {
	:root {
		--body-height: calc(100% - 132px - var(--body-container-margin));
	}
}

#app-navigation:not(.vue) {
	background-color: var(--color-main-background);
}

#body-user,
#body-settings,
#body-public {
	background-image: url('../img/telekom/mcfluffy.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: top center;
}

/* CONTENT  --------------------------------------------------------- */
#content, #content-vue {
	border-radius: 0;
	margin: 89px 16px 0;
	height: var(--body-height);
	width: calc(100% - 32px);

	@media screen and (max-width: $breakpoint-mobile-small) {
		margin: 73px 0 0;
		width: 100%;
	}
}