:root {
	--body-height: calc(100% - 144px - var(--body-container-margin));
}

#app-navigation:not(.vue) {
	background-color: var(--color-main-background);;
}

#body-user,
#body-settings,
#body-public {
   background-image: url('../../../../customapps/nmctheme/img/mcfluffy.jpg');
   background-size: cover;
   background-repeat: no-repeat;
   background-position: top center;
}

/* CONTENT  --------------------------------------------------------- */
#content {
    border-radius: 0;
	margin: 76px 16px 0;
	height: var(--body-height);
    width: calc(100% - 32px);
}