@import '../_mixins.scss';

.files-list {

	.v-popper__popper {

		ul {
			display: flex;
			flex-direction: column;

			li {
				display: flex;

				&.action {
					button {
						svg {
							display: none;
						}
					}
				}
	
				&[data-cy-files-list-row-action="details"],
				&[data-cy-files-list-row-action="edit-locally"],
				&[data-cy-files-list-row-action="view"],
				&[data-cy-files-list-row-action="sharing-status"],
				&[data-cy-files-list-row-action="sharing-status-magentacloud"],
				&[data-cy-files-list-row-action="office-open-pdf"],
				&[data-cy-files-list-row-action="cancel_select"]
				{
					display: none;
					pointer-events: none;
					user-select: none;
				}
	
				span.icon-vue {
					background-size: 24px;
				}
	
				&[data-cy-files-list-row-action="favorite"] {
					span.icon-vue {
						background-image: var(--icon-starred-yellow);
					}
				}
	
				&[data-cy-files-list-row-action="rename"] {
					span.icon-vue {
						background-image: var(--icon-edit-dark);
					}
				}
	
				&[data-cy-files-list-row-action="move-copy"] {
					span.icon-vue {
						background-image: var(--icon-cut-paste-dark);
					}
				}
	
				&[data-cy-files-list-row-action="download"] {
					span.icon-vue {
						background-image: var(--icon-download-dark);
					}
				}
	
				&[data-cy-files-list-row-action="delete"] {
					span.icon-vue {
						background-image: var(--icon-delete-dark);
					}
				}
	
				&[data-cy-files-list-row-action="view-in-folder"] {
					span.icon-vue {
						background-image: var(--icon-folder-dark);
					}
				}
	
				&[data-cy-files-list-row-action="files_zip"] {
					span.icon-vue {
						background-image: var(--icon-compress-zip-dark);
					}
				}
	
				&[data-cy-files-list-row-action="sharing-status-menu"] {
					span.icon-vue {
						background-image: var(--icon-shared-dark);
					}
				}
			}
		}
	}
}

// override global nextcloud hover styles
body .icon-delete:hover {
	background-image: var(--icon-delete-dark);
}

body .icon-starred:hover {
	background-image: var(--icon-starred-yellow);
}

body .favorite-marker-icon {
	background-image: var(--icon-starred-yellow);
}

body .icon-rename {
	background-image: var(--icon-edit-dark);
}

body .icon-favorite {
	background-image: var(--icon-star-dark);
}

body .icon-zip {
	background-image: var(--icon-compress-zip-dark);
	filter: unset;
}

body .icon-richdocuments {
	background-image: var(--icon-richdocuments-dark);
}