@import '../_mixins.scss';
@import '../variables';

@mixin magenta-icon {
	filter: brightness(0) saturate(100%) invert(13%) sepia(85%) saturate(6096%) hue-rotate(321deg) brightness(75%) contrast(104%);
}

@mixin thumbnail-icons {
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
	border: none;
	height: 44px;
	margin-top: 0.2rem;
	width: 44px;

	svg {
		display: none;
	}
}

@mixin header-menu-files {
	button {
		border: none;
		border-radius: 0;
		filter: var(--nmc-color-icon);

		&:nth-of-type(1) {
			.button-vue__icon {
				background-image: var(--original-icon-restore-dark);
				background-repeat: no-repeat;
				background-position: center;
				background-size: 1.25rem;

				svg {
					display: none;
				}
			}
		}

		&:nth-of-type(2) {
			.button-vue__icon {
				background-image: var(--icon-delete-dark);
				background-repeat: no-repeat;
				background-position: center;
				background-size: 1.25rem;

				svg {
					display: none;
				}
			}
		}

		&:active,
		&:focus,
		&:focus-visible {
			outline: none;
		}

		&:hover {
			background-color: transparent;

			.button-vue__wrapper {
				&::before {
					background-color: var(--color-primary);
					content: " ";
					display: block;
					height: 4px;
					left: 50%;
					opacity: 1;
					pointer-events: none;
					position: fixed;
					bottom: 4px;
					transform: translateX(-50%);
					transition: all .1s ease-in-out;
					width: 80%;
				}
			}
		}
	}
}

// add small gap between app content and app navigation
.app-files #app-content {

	&>.viewcontainer {
		padding-left: 8px;
	}

	#app-navigation-toggle {
		height: 54px;
		left: 0;
		top: 0;
		width: 54px;
	}

	#view-toggle {
		height: 54px;
		opacity: 1;
		position: absolute;
		right: 0;
		top: 0;
		width: 54px;

		&:hover {
			filter: var(--nmc-color-icon)
		}
	}
}

// Deleted Files list table and header
#app-content-vue {
	.files-list__header {

		.breadcrumb__crumbs {
			a {

				&:active,
				&:focus,
				&:focus-visible {
					background-color: transparent;
					outline: none;
				}

				&:hover {
					background-color: transparent;
					outline: none;
					opacity: 0.7;
				}
			}

			span.material-design-icon.home-icon {
				background-image: var(--icon-delete-dark);
				background-size: 24px;
				height: 24px;
				width: 24px;

				svg {
					display: none;
				}
			}

			span.material-design-icon.chevron-right-icon.vue-crumb__separator {
				background-image: var(--icon-breadcrumb-arrow-grey);
				background-size: 24px;
				height: 24px;
				width: 24px;
				background-position: center;
				background-repeat: no-repeat;

				svg {
					display: none;
				}
			}

		}

		// Context menu when table header checkbox is checked
		&+.vue-recycle-scroller {

			.files-list__row-column-custom.files-list__row-trashbin-deleted {
				color: var(--color-main-text);
			}

			.files-list__row-checkbox {

				.checkbox-radio-switch {
					display: flex;
					justify-content: flex-start;

					--icon-size: var(--checkbox-size);

					label.checkbox-radio-switch__label {
						margin-left: 20px;
						margin-right: 16px;
					}
				}
			}

			.files-list__row-size {
				display: none;
			}

			span.checkbox-radio-switch--checked {

				label.checkbox-radio-switch__label>span.checkbox-radio-switch__icon {
					background-image: var(--original-icon-check-white);
					background-color: var(--telekom-color-functional-success-standard);
					background-position: center;
					background-repeat: no-repeat;
					background-size: 18px;
					border: none;
					border-radius: var(--telekom-radius-circle);
					height: 1.5rem;
					width: 1.5rem;
					margin: -2px -2px 0 0;
				}

				svg {
					display: none;
				}
			}

			.files-list__row-actions {
				.button-vue__wrapper {
					color: var(--color-main-text);
				}
			}

			.files-list__row-icon {
				margin-right: 16px;
				margin-left: 24px;
				z-index: 100;

				.material-design-icon.folder-icon {
					background-image: var(--icon-mime-folder-dark);
					@include thumbnail-icons();
				}
			}
		}
	}

	.files-list {
		&__column {
			width: fit-content;

			&.files-list__row-size {
				display: none;
			}

			&.files-list__row-name.files-list__column--sortable>.files-list__row-icon {
				display: none;
			}

			&-sort-button {

				&:hover,
				&:active,
				&:focus,
				&:focus-visible {
					background-color: transparent;
					color: var(--telekom-color-text-and-icon-primary-standard);
					outline: none;
				}

				span.button-vue__text {
					font-weight: normal;
					overflow: visible;
					white-space: nowrap;
				}
			}

			&.files-list__row-actions-batch {
				@include header-menu-files();

				.action-item--single.files-list__row-actions-batch-restore {
					padding-left: 0;
				}

				.action-item--single.files-list__row-actions-batch-delete {
					padding-left: 0;
				}
			}
		}

	}
}

// breadcrumb wrapper
.files-controls {
	background-color: var(--color-main-background);
	opacity: 0.97;
	padding-top: 0;

	@media screen and (min-width: $breakpoint-mobile) {
		padding-left: 0;
	}

	li.crumbhome {
		margin-right: 5px;
	}
}

.actions.creatable {

	// 'Add new file/folder' button inside breadcrumb
	&>a.button.new {
		padding: 9px;
		background-color: var(--color-main-background);
		border: 1px solid var(--telekom-color-text-and-icon-primary-standard);
		border-radius: 50%;
		min-height: unset;
		height: 24px;
		width: 24px;
		margin: auto 0;

		.icon.icon-add {
			@include magenta-icon;
			background-size: 16px 16px;
			opacity: 1;
		}

		// Do not display text "New" after file add breadcrumb
		span:nth-child(2) {
			display: none;
		}
	}

	.newFileMenu {

		// hide "Add description" menu item
		[data-action=rich-workspace-init] {
			display: none;
		}
	}

	// change position of popover menu arrow
	.newFileMenu::after {
		left: 51px !important;
	}
}

table.files-filestable {

	thead {
		background-color: var(--color-main-background);
		opacity: 0.97;
		top: 54px;

		th {

			&.column-selection {
				min-width: 100px;
				width: 100px;
			}

			&.column-name {
				width: 100vw;
			}

			&.column-menu {
				width: 1000vw;

				@media screen and (max-width: $breakpoint-mobile-small) {
					display: none;
				}

				.filesSelectMenu {
					display: flex !important;
					filter: unset;
					justify-content: flex-end;
					margin: 0;
					padding: 0;
					position: unset;
					transform: unset;

					ul {
						flex-direction: row;

						li.item-toggleSelectionMode {
							display: none;
						}

						a.menuitem.action {
							border: none;
							border-radius: 0;
							box-shadow: none;
							color: var(--telekom-color-text-and-icon-primary-standard);
							font-weight: bold;
							line-height: 3rem;
							margin-right: 1rem;
							padding: 0 !important;
							position: relative;

							.icon {
								@include magenta-icon;
								background-position-x: left;
								background-size: 1.25rem;
								height: 3rem;
								padding: 1rem;
								pointer-events: none;

								&.icon-history {
									background-image: var(--original-icon-restore-dark);
								}
							}

							&::before {
								background-color: var(--color-primary);
								border-radius: 0;
								bottom: 2px;
								content: " ";
								display: block;
								height: 4px;
								left: 50%;
								opacity: 0;
								pointer-events: none;
								position: absolute;
								transform: translateX(-50%);
								transition: all .1s ease-in-out;
								width: 100%;
							}

							&:hover,
							&:focus {
								background: none;
								border: none;

								&::before {
									opacity: 1;
								}
							}
						}
					}
				}
			}

			&.column-mtime,
			&.column-size,
			&.column-last {
				min-width: 140px;
				text-align: right;

				.columntitle {
					display: flex;
					flex-direction: row-reverse;
				}

				.sort-indicator {
					margin-right: 4px;
					margin-top: 4px;
				}
			}

			&.column-size {
				min-width: 90px;
			}

			.columntitle {
				color: var(--color-main-text);

				&:hover {
					color: var(--telekom-color-text-and-icon-primary-standard);

					.sort-indicator {
						filter: var(--nmc-color-icon)
					}
				}

				&.name {
					margin-left: 20px;
					padding-right: 2rem;
				}

				.sort-indicator {
					opacity: 1;
				}
			}

			.selectedActions {

				&>a.actions-selected {
					color: var(--telekom-color-text-and-icon-primary-standard);
					font-weight: bold;
					margin: 0 1rem 0 0;
					opacity: 1;
					padding: 1rem 0;
					top: 0;

					span:not(.icon) {
						margin-left: 0.5rem;
					}

					.icon {
						@include magenta-icon;
					}

					&::before {
						background-color: var(--color-primary);
						border-radius: 0;
						bottom: 2px;
						content: " ";
						display: block;
						height: 4px;
						left: 50%;
						opacity: 0;
						pointer-events: none;
						position: absolute;
						transform: translateX(-50%);
						transition: all .1s ease-in-out;
						width: 100%;
					}

					&:hover,
					&:focus {
						background: none;
						border: none;

						&::before {
							opacity: 1;
						}
					}
				}

				.filesSelectMenu {
					transform: unset;
					right: 0;
					margin: 0.25rem;
					margin-top: -0.25rem;

					&.popovermenu.menu-center:after {
						right: 3rem;
					}

					&.popovermenu.menu-right:after {
						right: 2rem;
					}

					ul {

						li.item-toggleSelectionMode {
							display: none;
						}
					}
				}
			}
		}
	}

	tbody {

		tr {
			height: 68px;

			&.highlighted,
			&.selected,
			&:not(.hidden):active,
			&:not(.hidden):focus,
			&:not(.hidden).mouseOver td {
				background-color: var(--nmc-color-row-selected);
			}

			&:not(.hidden):not(.highlighted):not(.selected):hover {
				background-color: var(--nmc-color-row-hover);
			}

			td {

				&.date,
				&.column-last {
					min-width: 140px;
					text-align: right;

					.modified {
						color: var(--color-main-text) !important;
					}
				}

				&.filename {

					a.name:focus {
						background-color: var(--nmc-color-row-selected);
					}

					input.filename {
						margin-left: 70px !important;
					}
				}

				&.filesize {
					min-width: 90px;
				}

				.nametext {
					padding-left: 20px;
				}

				.fileactions {
					display: flex;

					// 'Share' status styles
					.permanent {
						display: flex;
						flex-direction: row-reverse;
						height: 50px;
						opacity: 1;
						padding: 0;
						width: 100%;

						&:focus {
							background: none;
							border: none;
						}

						// color shared files in magenta
						&.shared-style,
						&.action-restore {
							color: var(--color-primary);
							opacity: 1;

							.icon {
								@include magenta-icon;
							}
						}

						// hide all text labels in mobile view
						@media screen and (max-width: $breakpoint-mobile) {
							span:not(.icon) {
								display: none !important;
							}
						}


						// increase share icon sizes
						span.icon {
							display: inline-flex;
							line-height: 50px;
							margin: 0;

							@media screen and (max-width: $breakpoint-mobile) {
								&:not(.icon) {
									display: none !important;
								}
							}

							// increase share icon sizes
							&.icon:not(.icon-more) {
								background-size: 24px;
								margin-left: 0.5rem;
								margin-top: -0.25rem;
								min-width: 24px;
								min-height: 24px;
							}

							&.icon-more {
								margin: 0 1rem;
								min-width: 24px;
								min-height: 24px;
							}

							&.icon-upload-to-cloud {
								filter: invert(61%) sepia(98%) saturate(4546%) hue-rotate(181deg) brightness(99%) contrast(109%) !important;
							}

							&.icon-history {
								background-image: var(--original-icon-restore-dark);
							}
						}
					}
				}
			}

			.thumbnail-wrapper {
				height: 50px;
				width: 50px;

				.thumbnail {
					background-position: center;
					background-repeat: no-repeat;
					background-size: contain;
					border: none;
					height: 44px;
					margin-top: 0.2rem;
					width: 44px;

					.favorite-mark {
						bottom: -6px;
						right: -12px;
						top: unset;

						.icon {
							background-size: 24px;
							min-width: 24px;
							min-height: 24px;
						}
					}
				}
			}
		}
	}

	tfoot {

		.summary {
			color: var(--color-main-text);

			.filesummary {
				padding-top: 20px;
			}
		}
	}

	input {

		&[type=checkbox] {

			&.checkbox {

				+label {
					display: inline-block;
					padding: 16px 0;
					text-align: center;
					width: 50px;

					&:before {
						border-color: var(--telekom-color-ui-border-standard);
						border-radius: var(--telekom-radius-small);
						margin: 2px 0 0;
						opacity: 1;
						vertical-align: top;
					}
				}

				&:not(:disabled):not(:checked):hover+label:before {
					background: var(--telekom-color-ui-state-fill-hovered);
					border-color: var(--telekom-color-ui-border-hovered);
					color: var(--color-icon-checked-active);
				}

				&:checked+label:before {
					background-image: var(--original-icon-check-white);
					background-color: var(--telekom-color-functional-success-standard);
					background-repeat: no-repeat;
					background-size: 18px;
					border: none;
					border-radius: 3rem;
					height: 1.5rem;
					margin-left: -2px;
					margin-right: -2px;
					margin-top: -2px;
					width: 1.5rem;
				}
			}

			&.select-all {

				+label {
					height: 50px;
					padding: 15px;

					&:before {
						margin: 2px;
						border-radius: var(--telekom-radius-small);
					}

					span {
						color: var(--color-main-text);
						margin-left: 20px;
						overflow: auto;
						position: static;

						@media screen and (max-width: $breakpoint-mobile) {
							display: none;
						}
					}
				}
			}
		}
	}
}

#app-content-favorites,
#app-content-sharingout,
#app-content-sharingin {
	margin-top: 54px;
}

#app-content-trashbin {

	.item-files_zip {
		display: none;
	}
}

#app-content-files {
	// Hide Set Reminder item from 3-dot menu popup 
	.fileActionsMenu .action-setreminder-container {
		display: none;
	}
}

// Hide Set Reminder item from right-click menu popup
#content .rightClickMenu .menu-option.option-setreminder {
	display: none;
}