@import '../_mixins.scss';
@import '../variables';

.app-files_sharing #app-content {
    #drop-uploaded-files {
        width: 448px;

        @media screen and (max-width: $breakpoint-mobile-small) {
            max-width: 180px;
        }
    }

    #public-upload .emptycontent {
        li img {
            width: 24px;
            margin: 0;
        }

        #displayavatar .icon-folder {
            background-image: var(--icon-mime-folder-blue);
            background-size: 192px;
            height: 128px;
            width: 128px;
        }

        #drop-uploaded-files {
            padding: 2rem;
        }

        a.button {
            @include primary-button;

            &.icon-upload {
                opacity: 1;
                background-image: var(--icon-upload-white);
                background-size: 16px;
            }
        }

        #drop-upload-done-indicator {
            font-size: 1rem;
            font-weight: bold;
        }
    }
}

#openSharing_button {
    padding-left: 0.5rem;

    .material-design-icon.share-circle-icon {
        background-image: var(--original-icon-shared-dark);
        background-repeat: no-repeat;
        background-position: center;
        background-size: 18px;
        margin-inline: -4px 4px;
        width: 100%;
        height: 100%;
        
        svg {
            display: none;
        }
    }
}

.sharingTabDetailsView {

    #share-date-picker {
        color-scheme: var(--nmc-color-sceme);
    }
}

.sharingTabDetailsView, .sharingPopupDetailsView {

    .material-design-icon.back-button {
        background-image: var(--icon-arrow-previous-dark);
        background-repeat: no-repeat;
        background-position: center;
        background-size: 1.25rem;
        width: 2rem;
        height: 2rem;
        padding: 0;
        margin-left: -0.25rem;
        
        svg {
            display: none;
        }
    }

    .sharingTabDetailsView__quick-permissions {

        .sharing_permission-desc {
            margin-top: 0.5rem;
        }
    }

    .header-permissions {

        h2 {
            font-size: 20px;
            margin-bottom: unset;
            margin-top: unset;
        }
    }
}

.sharingPopup__content, .sharingTab__content {
    h2 {
        font-size: 20px;
        margin: unset;

        strong {
            font-weight: 600;
        }
    }

    .sharingPopup__header, .sharingTab__header {
        font-weight: 600;
        margin-bottom: 16px !important;
    }

	.sharingPopup__fileinfo, .sharingTab__fileinfo {
		font-size: var(--font-size-small);
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
		max-width: 100%;
		display: block;
	}
}

#files-public-content:has(.plyr) {

    #preview {
        
        .plyr__video-wrapper {

            height: 890px;

            video {
                width: auto;
            }
        }
    }
}