@import '../_mixins.scss';

@mixin magenta-icon {
	filter: brightness(0) saturate(100%) invert(13%) sepia(85%) saturate(6096%) hue-rotate(321deg) brightness(75%) contrast(104%) !important;
}

$breakpoint-mobile: 1024px;
$breakpoint-mobile-small: 480px;

// add small gap between app content and app navigation
.app-files #app-content {

	&> .viewcontainer {
		padding-left: 8px;
	}

	#app-navigation-toggle {
		left: var(--default-grid-baseline);
		top: var(--default-grid-baseline);
	}

	#view-toggle {
		position: absolute;
	}
}

// filelist
#app-content-files, #app-content-trashbin {

	// breadcrumb wrapper
	.files-controls {
		background-color: var(--color-main-background);
		opacity: 0.97;
		padding-top: 0;
	}

	.actions.creatable {

		// 'Add new file/folder' button inside breadcrumb
		& > a.button.new {
			background-color: var(--color-main-background);
			border-color: var(--telekom-color-text-and-icon-primary-standard);
			min-height: unset;
			height: 24px;
			width: 24px;
			margin: auto 0;

			.icon.icon-add {
				@include magenta-icon;
				background-size: 16px 16px;
				opacity: 1;
			}
		}

		// change position of popover menu arrow
		.newFileMenu::after {
			left: 51px !important;
		}
	}

	.fileactions {

		// 'Share' status styles
		.action-share.permanent {
			display: flex;
			flex-direction: row-reverse;
			height: 50px;
			opacity: 1;
			padding: 0;
			width: 100%;

			&:focus {
				background: none;
				border: none;
				border-radius: 0;
			}

			// color shared files in maagenta
			&.shared-style {
				@include magenta-icon;
			}

			// increase share icon sizes
			span {
				display: inline-flex;
				line-height: 50px;
				margin: 0;
			}

			// increase share icon sizes
			span.icon.icon-shared, span.icon.icon-public {
				background-size: 24px 24px;
				margin-left: 0.5rem;
				margin-top: -0.25rem;
				min-width: 24px;
				min-height: 24px;
			}
		}
	}

	.files-filestable {
		
		thead {
			background-color: var(--color-main-background);
			opacity: 0.97;
			top: 54px;
	
			th {
				vertical-align: top;

				&.column-selection {
					padding: 0;

					input {

						&.checkbox {

							+ label {
								margin-top: 1px;
								vertical-align: top;
							}

							+ label:before {
								margin-top: 2px;
								vertical-align: top;
								border-radius: var(--telekom-radius-small);
							}

							&:checked + label:before {
								background-color: var(--telekom-color-text-and-icon-functional-success);
								background-repeat: no-repeat;
								border: none;
								border-radius: 3rem;
								height: 1.5rem;
								margin-left: 0px;
								margin-right: 1px;
								margin-top: 0px;
								width: 1.5rem;
							}
						}
					}

					label {
						display: inline-block;
						padding-bottom: 0.75rem;
						padding-top: 0.75rem;

						span {
							display: inline-block;
							height: auto;
							left: 0;
							margin-left: 1rem;
							margin-right: 0;
							overflow: auto;
							position: relative;
							top: 0;
							width: 40px;

							@media screen and (max-width: $breakpoint-mobile) {
								display: none;
							}
						}
					}
				}
	
				.columntitle.name {
					display: inline-block;
					margin-left: 0px;
					padding-bottom: 0.75rem;
					padding-top: 0.75rem;
				}
			}
		}

		td > a a.action.action-menu {
			display: none;
		}
	}

	.column-name {
		width: 100vw;
	}

	.column-menu {
		width: 1000vw;

		@media screen and (max-width: $breakpoint-mobile-small) {
			display: none;
		}

		.filesSelectMenu  {
			display: flex !important;
			filter: unset;
			justify-content: flex-end;
			margin: 0;
			padding: 0;
			position: unset;
			transform: unset;
	
			ul {
				flex-direction: row;
	
				li.item-toggleSelectionMode,
				li.item-tags {
					display: none;
				}
	
				a.menuitem.action {
					border: none;
					border-radius: 0;
					box-shadow: none;
					color: var(--telekom-color-text-and-icon-primary-standard);
					font-weight: bold;
					line-height: 3rem;
					margin-right: 1rem;
					padding: 0 !important;
					position: relative;
	
					.icon {
						@include magenta-icon;
						background-position-x: left;
						background-size: 1.25rem;
						height: 3rem;
						padding: 1rem;
						pointer-events: none;
					}
	
					&::before {
						background-color: var(--color-primary);
						border-radius: 0;
						bottom: 0;
						content: " ";
						display: block;
						height: 2px;
						left: 50%;
						opacity: 0;
						pointer-events: none;
						position: absolute;
						transform: translateX(-50%);
						transition: all .1s ease-in-out;
						width: 100%;
					}
	
					&:hover, &:focus {
						background: none;
						border: none;
	
						&::before {
							opacity: 1;
						}
					}
				}
			}
		}
	}

	.selectedActions {

		&> a.actions-selected {
			color: var(--telekom-color-text-and-icon-primary-standard);
			font-weight: bold;
			line-height: 3rem;
			margin: 0 1rem 0 0;
			opacity: 1;
			padding: 1rem 0;
			top: 0;

			span:not(.icon) {
				margin-left: 0.5rem;
			}
	
			&::before {
				background-color: var(--color-primary);
				border-radius: 0;
				bottom: 0;
				content: " ";
				display: block;
				height: 2px;
				left: 50%;
				opacity: 0;
				pointer-events: none;
				position: absolute;
				transform: translateX(-50%);
				transition: all .1s ease-in-out;
				width: 100%;
			}

			&:hover, &:focus {
				background: none;
				border: none;

				&::before {
					opacity: 1;
				}
			}
		}

		.filesSelectMenu {
			transform: unset;
			right: 0;
			margin: 0.25rem;
			margin-top: -0.25rem;

			&.popovermenu.menu-center:after {
				right: 3rem;
			}

			&.popovermenu.menu-right:after {
				right: 2rem;
			}
		}

		ul {

			li.item-toggleSelectionMode,
			li.item-tags {
				display: none;
			}
		}
	}
}

table.files-filestable {

	tbody tr {
		height: 68px;

		// filename column
		td .nametext {
			padding-left: 20px;
		}

		.thumbnail-wrapper {
			height: 50px;
			width: 50px;

			.thumbnail {
				margin-top: 0.2rem;
				width: 44px;
				height: 44px;
				background-size: 74px;
				background-position: center;
				background-repeat: no-repeat;
			}
		}

		input {

			&.checkbox {

				+ label {
					display: inline-block;
					padding: 16px 0;
					text-align: center;
					width: 50px;
				}

				+ label:before {
					border-radius: var(--telekom-radius-small);
					margin-top: 2px;
					vertical-align: top;
				}

				&:checked + label:before {
					background-color: var(--telekom-color-text-and-icon-functional-success);
					background-repeat: no-repeat;
					border: none;
					border-radius: 3rem;
					height: 1.5rem;
					margin-left: 0px;
					width: 1.5rem;
				}
			}
		}
	}
}
