@import '../mixins';
@import '../variables';

@mixin magenta-icon {
	filter: brightness(0) saturate(100%) invert(13%) sepia(85%) saturate(6096%) hue-rotate(321deg) brightness(75%) contrast(104%);
}

@mixin thumbnail-icons {
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
	border: none;
	height: 44px;
	width: 44px;

	svg {
		display: none;
	}
}

.app-photos {
	#app-content-vue {
		.photos-navigation {
			&__title__main {
				font-size: 32px;
			}

			// hide 'Add' button breadcrumbs for all menu pages,
			// unless it is for "Create a new album"/ "Ein neues Album erstellen."
			&__content button:not([aria-label*='lbum']) {
				display: none;
			}

			&__content-right {
				margin-left: 8px;

				// disable Share button for Albums, does not apply to empty album
				form.upload-picker+button.button-vue--icon-only {
					display: none;
				}

				// disable Share button for Albums incl. for empty Albums (not supported by Firefox)
				button>.button-vue__wrapper>.button-vue__icon:has(span.share-variant-icon),
				button:not(.action-item__menutoggle) {
					display: none;
				}
			}

			// 'Add', 'Add to album', 'Unselect all' and '...' buttons
			&__content button,
			&__content-right button {
				all: unset;

				.plus-icon {
					border: 1px solid var(--telekom-color-text-and-icon-primary-standard);
					border-radius: 50%;
				}

				svg,
				.button-vue__text {
					color: var(--telekom-color-text-and-icon-primary-standard);
				}

				&:hover {
					background-color: initial;

					.plus-icon {
						border: 1px solid var(--telekom-color-text-and-icon-primary-hovered);
					}

					svg,
					.button-vue__text {
						color: var(--telekom-color-text-and-icon-primary-hovered);
					}
				}
			}
		}

		.files-list-viewer.timeline__file-list {
			padding: 0 32px;

			// Date container
			.section-header {
				height: auto !important;
				margin: 32px 0 8px;
			}

			li {
				// prevent stretching a low number of photos in line to fill it
				flex-grow: 0;

				// new play icon for videos
				span.video-icon {
					background-image: var(--icon-play-video-white);
					background-repeat: no-repeat;
					background-position: center;
					background-size: 32px;

					svg {
						display: none;
					}
				}

				.favorite-marker-icon.favorite-state.icon-vue {
					width: 32px;
					height: 32px;
					svg {
						display: none;
					}
				}

				.checkbox-radio-switch.selection-checkbox {
					top: 2px;
					right: 3px;
					.checkbox-content {
						background: transparent;

						span.material-design-icon.checkbox-marked-icon {
							background-image: var(--original-icon-check-white);
							background-color: var(--telekom-color-functional-success-standard);
							background-position: center;
							background-repeat: no-repeat;
							background-size: 18px;
							border: none;
							border-radius: var(--telekom-radius-circle);
							height: 1.5rem;
							width: 1.5rem;
							margin: -2px -2px 0 0;

							svg {
								display: none;
							}
						}
					}
				}
			}
		}

		// grid view of files and folders
		.grid-container .grid {
			.grid-item-wrapper {
				.folder {
					border: 1px solid var(--telekom-color-functional-informational-subtle);

					&:active,
					&:hover,
					&:focus {
						.folder-name {
							opacity: 1;
						}
					}

					.folder-name {
						transition: none;
						row-gap: 1rem;

						// replace standart folder icon
						span.icon-folder {
							background-image: var(--icon-mime-folder-dark);
							opacity: 1;
						}

						&__name {
							color: var(--color-text-light);
							font-weight: bold;
							text-shadow: none;
						}
					}

					.cover {
						transition: none;
						opacity: 0;
					}

					.folder-content {
						display: none;
					}
				}

				.file {
					.cover {
						transition: none;
					}
				}
			}
		}

		// 'Albums' page
		.collections.albums-list {

			.collections__list {
				justify-content: normal;
			}

			.collection-cover {
				border-radius: 0;

				&__image {
					border-radius: 0;
					width: 250px;
					height: 250px;

					&--placeholder {

						// empty album icon
						span.image-multiple-icon {
							background-image: var(--icon-albums-dark);
							background-repeat: no-repeat;
							background-position: center;
							background-size: 96px;
							background-color: #f2f2f2;

							svg {
								display: none;
							}
						}
					}
				}

				&__details {
					width: 250px;

					&__title .album__name {
						line-height: normal;
						font-weight: bold;
						margin-bottom: 4px;
					}

					&__subtitle .album__details {
						color: var(--color-main-text);
					}
				}
			}

			// 'No albums' page
			.empty-content {
				&__icon {
					width: 120px;
					height: 120px;

					span.folder-multiple-image-icon {
						svg {
							display: none;
						}

						background-image: var(--icon-albums-dark);
						width: 100%;
						height: 100%;
						background-size: 120px;
						background-repeat: no-repeat;
						background-position: center;
					}
				}
			}

			&__title {
				line-height: normal;
				margin-top: 24px;
			}
		}

		// 'Albums' - empty album page
		.empty-content {
			&__icon {
				opacity: 1;
				width: 120px;
				height: 120px;
				margin-bottom: 0;

				span.image-plus-icon {
					svg {
						display: none;
					}

					background-image: var(--icon-all-media-dark);
					width: 100%;
					height: 100%;
					background-size: 120px;
					background-repeat: no-repeat;
					background-position: center;

				}
			}

			&__title {
				line-height: normal;
				margin-top: 24px;
				margin-bottom: 32px;
			}

			&__action {
				margin: 0;

				button.album__empty__button {
					margin: 0;
				}
			}
		}
	}

	// sidebar navigation
	#app-navigation-vue {

		// toggle button icon change
		&.app-navigation {
			button.app-navigation-toggle {
				span.menu-open-icon {
					background-image: var(--icon-hide-menu-dark);
					width: 100%;
					height: 100%;
					background-position: center;
					background-repeat: no-repeat;
					background-size: 24px;

					svg {
						display: none;
					}
				}
			}
		}

		&.app-navigation__content {
			ul.app-navigation__list {
				padding: 4rem 1.5rem 1.5rem;

				li.app-navigation-entry-wrapper {

					&>.app-navigation-entry:has(a[title="Shared with you"]),
					&>.app-navigation-entry:has(a[title="Mit Ihnen geteilt"]) {
						display: none;
					}

					&[data-id-app-nav-item="shared-albums"],
					&[data-id-app-nav-item="faces"],
					&[data-id-app-nav-item="this-day"],
					&[data-id-app-nav-item="shared"],
					&[data-id-app-nav-item="maps"],
					&[data-id-app-nav-item="places"] {
						display: none;
					}

					.app-navigation-entry-icon {
						background-image: none;

						span.material-design-icon {
							width: 44px;
							height: 44px;
							background-position: center;
							background-repeat: no-repeat;
							background-size: 24px;

							svg {
								display: none;
							}

							&.star-icon {
								background-image: var(--icon-star-dark);
							}

							&.folder-icon {
								background-image: var(--icon-folder-dark);
							}

							&.camera-icon {
								background-image: var(--icon-photo-camera-dark);
							}

							&.video-icon {
								background-image: var(--icon-camera-dark);
							}

							&.folder-multiple-image-icon {
								background-image: var(--icon-albums-dark);
							}

							&.image-icon {
								background-image: var(--icon-photos-videos-dark);
							}

							&.share-variant-icon {
								background-image: var(--icon-attachment-dark);
							}
						}
					}
				}

			}

			// contains 'Photos settings' button
			.app-navigation__footer {
				display: none;
			}
		}

	}
}

// New album modal window
#body-user .modal-container {

	.album-form,
	.album-picker {
		background-color: var(--telekom-color-background-surface);
		height: auto;
		padding: 1.5rem !important;

		div.form-inputs {

			// 'Name of the album' input field
			.input-field {
				margin-bottom: 1rem;
			}

			// hide 'Location of the album' input
			&>label {
				display: none;
			}
		}

		.form-buttons {

			.left-buttons {

				// 'Back' button
				.button-vue--vue-tertiary {
					border: var(--telekom-spacing-composition-space-01) solid var(--telekom-color-ui-border-standard);
				}
			}

			.right-buttons {

				// Hide 'Add collaborators' button 
				.button-vue--vue-secondary {
					display: none;
				}

				// 'Create album' button
				.button-vue--vue-primary {
					margin: 0 !important;

					.button-vue__icon {
						display: none;
					}
				}
			}
		}

		h2 {
			font-size: 1.5rem;
			height: auto !important;
			margin-bottom: 1.5rem;
		}

		.albums-container {
			overflow-x: unset !important;
			overflow-y: auto;
			margin-bottom: 1.5rem;

			.album {

				.list-item {
					border-radius: var(--telekom-radius-standard);
					padding: 0.5rem !important;
					margin-left: 0;
					transition: none;
					&:hover {
						background-color: var(--nmc-color-row-hover);
					}
				}
			}
		}

		.new-album-button {
			background-color: var(--telekom-color-primary-standard);
			border: 0;
			color: var(--telekom-color-text-and-icon-white-standard);
			margin-right: 0;
			margin-left: 0;

			&:hover:not(:disabled) {
				background-color: var(--telekom-color-primary-hovered);
			}

			.button-vue__icon {
				margin-left: -1rem;
			}
		}
	}

	.album-form {
		padding-top: 3rem !important;
		.form-inputs {
			.input-field:nth-child(2) {
				display: none;
			}

			.input-field__main-wrapper {
				label {
					display: none;
				}
			}
		}
		.form-buttons {
			flex-direction: row;
		}
	}
}

#body-user .modal-header {
	h2.modal-title {
		display: none;
	}
}

// Add Photos to the album modal window
#body-user .modal-container, #body-settings .modal-container {
	background-color: var(--telekom-color-background-surface);

	button.modal-container__close {
		border: none;
		z-index: 20;

		&:hover:not(:disabled) {
			.close-icon {
				filter: var(--nmc-color-icon)
			}

			background-color: initial;
		}

		.close-icon {
			background-image: var(--icon-close-dark);
			background-position: center;
			background-repeat: no-repeat;
			height: 100%;
			width: 100%;

			svg {
				display: none;
			}
		}
	}

	.dialog__name {
		font-size: 24px;
		height: unset;
		line-height: unset;
		margin-block: 1.5rem 1rem;
		min-height: unset;
	}

	.file-picker {

		.dialog__wrapper {
			margin-inline: 1.5rem;
			margin-block: 0 1.5rem;
		}

		&+button.modal-container__close {
			margin-right: 0.75rem;
			margin-top: 0.75rem;
		}

		&__actions {
			flex-direction: row-reverse;

			.upload-picker {
				display: none;
			}

			button {
				&:disabled {
					& .material-design-icon.image-plus-icon {
						background-image: var(--icon-add-dark);
					}
				}

				& .material-design-icon.image-plus-icon {
					background-image: var(--original-icon-add-white);
					width: 44px;
					height: 44px;
					background-position: center;
					background-repeat: no-repeat;
					background-size: 24px;
				}

				svg {
					display: none;
				}
			}
		}

		// Tiled Photos view
		&__file-list.files-list-viewer {
			.files-list-viewer__section-header {
				background-color: var(--telekom-color-background-surface);
			}

			div.file-container {
				&::after {
					display: none;
				}

				.checkbox-radio-switch {
					// make unchecked checkboxes always visible
					display: block;
					visibility: visible;

					// restyle unchecked checkboxes 
					&__label {
						.material-design-icon::before {
							background-color: white;
						}

						&:hover {
							.material-design-icon::before {
								border-color: black;
							}
						}
					}

					// checked checkboxes will be green
					&--checked {
						.checkbox-radio-switch__label:before {
							content: "";
							background-image: var(--original-icon-check-white);
							background-color: var(--telekom-color-text-and-icon-functional-success);
							background-position: center;
							background-repeat: no-repeat;
							background-size: 18px;
							border: none;
							border-radius: var(--telekom-radius-circle);
							height: 1.5rem;
							width: 1.5rem;
							margin: -2px -2px 0 0;
						}

						.checkbox-marked-icon {
							display: none;
						}
					}
				}

				span.star-icon {
					background-image: var(--icon-starred-yellow);
					background-repeat: no-repeat;
					background-position: center;
					background-size: 18px;
					width: 24px;
					height: 24px;

					svg {
						display: none;
					}
				}

				span.folder-icon {
					background-image: var(--icon-folder-dark);
					background-repeat: no-repeat;
					background-position: center;
					background-size: 18px;
					width: 24px;
					height: 24px;

					svg {
						display: none;
					}
				}
			}
		}

		&__navigation {
			display: block;

			&__month {
				border-radius: var(--telekom-radius-standard);
				height: 44px;
				text-align: left;
				display: flex;
				align-items: center;

				&.selected,
				&:not(.selected):hover {
					background-color: var(--nmc-color-background-hover);
					color: var(--color-primary);
				}
			}

			.v-select.select {
				display: none;
			}

			.input-field {
				max-width: 100%;
			}
		}

		&__breadcrumbs {

			nav {
				display: inline-flex;
				flex-grow: 0;
				min-width: unset;

				.vue-crumb {

					&>a {
						min-width: unset;

						&:hover {
							background-color: unset;
						}
					}

					&:last-child {
						min-width: unset;
					}
				}

				span.home-icon {
					background-image: var(--icon-home-dark);
					background-repeat: no-repeat;
					background-position: center;
					background-size: 24px;
					width: 24px;
					height: 24px;

					svg {
						display: none;
					}
				}

				span.vue-crumb__separator {
					display: flex;
					background-image: var(--icon-breadcrumb-arrow-grey);
					background-repeat: no-repeat;
					background-position: center;
					background-size: 24px;
					width: 24px;
					height: 24px;

					svg {
						display: none;
					}
				}
			}

			.breadcrumb__actions {

				button {
					border: none;
					margin: 0;
					padding: 0;

					.plus-icon {
						border: 1px solid var(--telekom-color-text-and-icon-primary-standard);
						border-radius: 50%;
					}

					svg {
						color: var(--telekom-color-text-and-icon-primary-standard);
					}

					.button-vue__text {
						display: none;
					}

					&:hover {
						background-color: unset;
					}
				}
			}
		}

		&__files {
			overflow: auto;

			table {
				width: 100%;
			}

			th {
				background-color: unset;

				.button-vue {
					border: none;
					margin: 0;
					padding: 0;


					&:hover:not(:disabled) {
						background-color: unset;
						border-color: unset;
						color: unset;
					}

					&:focus:not(:disabled) {
						outline: unset;
						outline-offset: unset;
					}

					.button-vue__icon {
						min-width: 20px;
						width: 20px;
					}
				}

				&.row-name {

					.file-picker__header-preview {
						width: 30px;
					}

					.button-vue__wrapper {
						justify-content: start;
					}
				}

				&.row-modified {

					.button-vue__wrapper {
						justify-content: end;
						flex-direction: row;

						span.button-vue__text {
							padding-right: 8px;
						}
					}
				}
			}

			td {
				.file-picker__file-icon {
					width: 20px;
					height: 20px;
					min-width: 20px;
					min-height: 20px;
				}

				.material-design-icon {
					background-position: center;
					background-repeat: no-repeat;

					svg {
						display: none;
					}

					&.folder-icon {
						background-image: var(--icon-mime-folder-dark);
						@include thumbnail-icons();
					}

					&.file-icon {
						background-image: var(--icon-text-file-dark);
					}
				}

				&.row-name {
					padding-left: 0.5rem;
				}

				&.row-modified {
					text-align: right;

					span {
						padding-right: 8px;
					}
				}
			}
		}
	}
}