@import '../mixins';
@import '../variables';

@mixin magenta-icon {
	filter: brightness(0) saturate(100%) invert(13%) sepia(85%) saturate(6096%) hue-rotate(321deg) brightness(75%) contrast(104%);
}

@mixin thumbnail-icons {
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
	border: none;
	height: 44px;
	width: 44px;

	svg {
		display: none;
	}
}

.app-photos {

	#app-content-vue {

		// hide 'Add' button breadcrumbs for all menu pages
		.timeline {

			.photos-navigation {

				&__content .action-item {
					display: none;
				}
			}
		}

		.photos-navigation {
			&__title__main {
				font-size: 2rem;
			}

			&__content {

				.upload-picker button {
					display: none;
				}
			}

			button {
				padding: 0;
				width: auto !important;
			}

			&__content-right {

				.upload-picker {
					margin-right: 1rem;
				}

				// disable Share button for Albums incl. for empty Albums (not supported by Firefox)
				// button>.button-vue__wrapper>.button-vue__icon:has(span.share-variant-icon),
				// button:not(.action-item__menutoggle) {
				// 	display: none;
				// }
			}

			// 'Add', 'Add to album', 'Unselect all' and '...' buttons
			&__content,
			&__content-right,
			&__content-buttons {

				button {
					border-radius: var(--border-radius-pill);
					border: 1px solid currentColor;

					border-color: var(--color-border);
					line-height: 1rem;
					margin: 0;
					min-height: unset;
					min-width: unset;
					padding-left: 0;
					padding-right: 0;
					width: auto !important;
					

					.button-vue__icon {
						height: 2rem;
						min-height: 2rem;
						width: 2rem;
						min-width: 2rem;

						svg {
							height: 20px;
							width: 20px;
						}

						.material-design-icon {
							width: 100%;
							height: 100%;
							background-position: center;
							background-repeat: no-repeat;
							background-size: 18px;

							&.view-dashboard-outline-icon {
								rotate: 90deg;
							}
						}

						.trash-can-outline-icon {
							background-image: var(--icon-delete-dark);

							svg {
								display: none;
							}
						}

						.star-icon {
							background-image: var(--icon-star-dark);

							svg {
								display: none;
							}
						}
					}

					.button-vue__text {
						padding: 0;
						font-weight: normal;
						font-size: 14px;
						padding-right: 0.5rem;
					}

					&:hover {
						background-color: initial;

						svg,
						.button-vue__text {
							color: var(--color-primary-hover);
						}
					}
				}
			}

			&__content-buttons {

				button {
					padding-right: 0;
					width: 2.25rem !important;
				}
			}
		}

		.albums-list {
			.photos-navigation {

				// show 'Add' button for "Create a new album"
				&__content button.button-vue {
					display: flex;
				}
			}
		}

		.files-list-viewer, .photos-picker {
			padding: 0 2rem;

			@media only screen and (max-width: 640px) {
				padding: 0 1rem;
			}

			// Date container
			.section-header {
				font-size: 1rem;
				height: auto !important;
				margin: 2rem 0 0.5rem;
			}

			li {
				// prevent stretching a low number of photos in line to fill it
				flex-grow: 0;

				.file__images img {
    				border-radius: var(--border-radius-large);
				}

				.file-container {
    				background: none;

					&.selected:after, &:focus-within:after, &:has(:focus):after {
						border-radius: var(--border-radius-large);
						outline: var(--color-primary-element) solid 2px;
						outline-offset: -2px;
					}

					&.selected:before, &:focus-within:before, &:has(:focus):before {
						border-radius: var(--border-radius-large);
						position: absolute;
						top: 0;
						inset-inline-start: 0;
						z-index: 2;
						width: 100%;
						height: 100%;
						content: "";
						outline: var(--color-main-background) solid 2px;
						outline-offset: -4px;
						pointer-events: none;
					}
				}

				// new play icon for videos
				span.video-icon {
					background-image: var(--icon-play-video-white);
					background-repeat: no-repeat;
					background-position: center;
					background-size: 32px;

					svg {
						display: none;
					}
				}

				.favorite-marker-icon.favorite-state {

					&.icon-vue {
						width: 3rem;
						height: 3rem;
						background-size: 20px;
						bottom: 0;
						left: 0;
						right: unset;
						top: unset;
						z-index: 999;

						svg {
							display: none;
						}
					}
				}

				.file__favorite {

					.star-icon {
						background-image: var(--icon-starred-yellow);
					}
				}

				.hover-overlay {
					background: linear-gradient(0deg, rgba(0,0,0,0.5) 0%, rgba(0,0,0,0) 100%);
					height: 50%;
					min-height: 3rem;
					justify-content: space-between;

					.actions-right{
						display: flex;
						gap: 30px;
					}
				}

				.delete-icon {
					background-image: var(--original-icon-delete-white);
					width: 3rem;
					height: 3rem;
					background-size: 20px;

					svg {
						display: none;
					}

					&:active {
						background-size: 24px;
					}
				}

				.star-icon {
					background-image: var(--original-icon-star-white);
					width: 3rem;
					height: 3rem;
					background-size: 20px;

					svg {
						display: none;
					}

					&:active {
						background-size: 24px;
					}
				}
				
				.information-icon {
					background-image: var(--icon-details-white);
					filter: brightness(0) invert(1);
					width: 3rem;
					height: 3rem;
					background-size: 20px;
					position: absolute;
					z-index: 1001;
					bottom: 0;

					svg {
						display: none;
					}

					&:active {
						background-size: 24px;
					}
				}

				.checkbox-radio-switch.selection-checkbox {
					top: 2px;
					right: 2px;
		
					.checkbox-content {
						background: transparent;
		
						.material-design-icon {
							background-color: white;
							border: 1px solid black;
							border-radius: var(--border-radius);
							height: 20px;
							width: 20px;
							margin: 0;
		
							&.checkbox-marked-icon {
								background-image: var(--original-icon-check-white);
								background-color: var(--color-primary-element);
								background-position: center;
								background-repeat: no-repeat;
								background-size: 18px;
								border: 1px solid var(--color-primary-element);
							}
						}
		
						&:hover {
		
							.material-design-icon {
								background-color: var(--color-background-hover);
								border: 1px solid var(--color-primary-element-hover);
			
								&.checkbox-marked-icon {
									background-color: var(--color-primary-element-hover);
								}
							}
						}
		
						svg {
							display: none;
						}
					}
				}
			}
		}

		// grid view of files and folders
		.grid-container {
			padding: 2rem 3rem;

			.grid {
				.grid-item-wrapper {
					.folder {

						&:active,
						&:hover,
						&:focus {
							.folder-name {
								opacity: 1;
							}
						}

						.folder-name {
							transition: none;
							row-gap: 1rem;

							// replace standart folder icon
							span.icon-folder {
								background-image: var(--icon-mime-folder-blue);
								opacity: 1;
							}

							&__name {
								color: var(--color-text-lighter);
								font-weight: bold;
								text-shadow: none;
							}
						}

						.cover {
							transition: none;
							opacity: 0;
						}

						.folder-content {
							display: none;
						}
					}

					.file {
						.cover {
							transition: none;
						}
					}
				}
			}
		}

		// 'Albums' page
		.collections,
		.collection {

			#collection-add {
				.button-vue {

					&__wrapper {
						flex-direction: column;
					}

					&__icon {
						background-image: var(--icon-add-dark);
						background-position: center;
						background-repeat: no-repeat;
						background-size: 4rem;
						margin-bottom: 1rem;
						filter: var(--nmc-color-icon) !important;

						svg {
							display: none;
						}
					}

					&__text {
						font-weight: bold;
						font-size: 1.25rem;
						line-height: 1.5rem;
					}
				}
			}

			.collection__media {
				padding: 2rem;
			}

			.collection-cover {
				background-color: var(--color-main-background);

				&__image {

					&--placeholder {

						// empty album icon
						span.image-multiple-icon {
							background-image: var(--icon-albums-dark);
							background-repeat: no-repeat;
							background-position: center;
							background-size: 96px;
							background-color: var(--color-placeholder-light);

							svg {
								display: none;
							}
						}
					}
				}
			}

			// 'No albums' page
			.empty-content {
				&__icon {
					width: 120px;
					height: 120px;

					span.folder-multiple-image-icon {
						svg {
							display: none;
						}

						background-image: var(--icon-albums-dark);
						width: 100%;
						height: 100%;
						background-size: 120px;
						background-repeat: no-repeat;
						background-position: center;
					}
				}
			}

			&__title {
				line-height: normal;
				margin-top: 24px;
			}
		}

		// 'Albums' - empty album page
		.empty-content {
			&__icon {
				opacity: 1;
				width: 120px;
				height: 120px;
				margin-bottom: 0;

				span.image-plus-icon {
					svg {
						display: none;
					}

					background-image: var(--icon-all-media-dark);
					width: 100%;
					height: 100%;
					background-size: 120px;
					background-repeat: no-repeat;
					background-position: center;

				}
			}

			&__title {
				line-height: normal;
				margin-top: 24px;
				margin-bottom: 32px;
			}

			&__action {
				margin: 0;

				button.album__empty__button {
					margin: 0;
				}
			}
		}

		.album__location {
			display: none;
		}
	}

	// sidebar navigation
	#app-navigation-vue {

		// toggle button icon change
		&.app-navigation {
			button.app-navigation-toggle {
				span.menu-open-icon {
					background-image: var(--icon-hide-menu-dark);
					width: 100%;
					height: 100%;
					background-position: center;
					background-repeat: no-repeat;
					background-size: 24px;

					svg {
						display: none;
					}
				}
			}
		}

		&.app-navigation__content {

			ul.app-navigation__list {
				padding: 4rem 1.5rem 1.5rem;

				li.app-navigation-entry-wrapper {
					order: 2;

					&[data-id-app-nav-item="shared-albums"],
					&[data-id-app-nav-item="faces"],
					&[data-id-app-nav-item="this-day"],
					&[data-id-app-nav-item="shared"],
					&[data-id-app-nav-item="maps"],
					&[data-id-app-nav-item="places"],
					&[data-id-app-nav-item="tags"],
					&[data-id-app-nav-item="folders"] {
						display: none;
					}

					&[data-id-app-nav-item="favorites"] {
						order: 1;
					}

					.app-navigation-entry-icon {
						background-image: none;
						width: 48px;
						height: 48px;
						flex: 0 0 48px;

						span.material-design-icon {
							width: 48px;
							height: 48px;
							background-position: center;
							background-repeat: no-repeat;
							background-size: 24px;

							svg {
								display: none;
							}

							// Star icons (Favorites)
							&.star-icon,
							&.star-outline-icon {
								background-image: var(--icon-star-dark);
							}

							// Folder icons (Folders)
							&.folder-icon,
							&.folder-outline-icon {
								background-image: var(--icon-folder-dark);
							}

							// Camera icons (Photos)
							&.camera-icon,
							&.camera-outline-icon {
								background-image: var(--icon-photo-camera-media-dark);
							}

							// Video icons (Videos)
							&.video-icon,
							&.video-outline-icon {
								background-image: var(--icon-video-camera-media-dark);
							}

							// Image Multiple icons (Albums)
							&.folder-multiple-image-icon,
							&.image-multiple-icon,
							&.image-multiple-outline-icon {
								background-image: var(--icon-albums-dark);
							}

							// Image icons (All media)
							&.image-icon,
							&.image-outline-icon {
								background-image: var(--icon-all-media-dark);
							}

							// Share/Account Group icons (Collaborative albums)
							&.share-variant-icon,
							&.account-group-icon,
							&.account-group-outline-icon {
								background-image: var(--icon-shared-dark);
							}

							// Calendar icons (On this day)
							&.calendar-today-icon,
							&.calendar-today-outline-icon {
								background-image: var(--icon-calendar-dark);
							}

							// Account Box Multiple icons (People/Faces)
							&.account-box-multiple-icon,
							&.account-box-multiple-outline-icon {
								background-image: var(--icon-people-dark);
							}
						}
					}

					button {
						margin: 0;
						padding: 0;

						.button-vue__icon {
							width: 48px;
							height: 48px;
							background-position: center;
							background-repeat: no-repeat;
							background-size: 24px;

							svg {
								width: 24px;
								height: 24px;
							}
						}

						&:hover:not(:disabled) {
							background-color: transparent;
						}
					}
				}

			}

			.app-navigation__footer {
				display: none;
			}
		}

	}
}

// New album modal window
#body-user .modal-container {

	.album-form,
	.album-picker {
		background-color: var(--color-main-background);
		height: auto;
		padding: 1.5rem !important;

		div.form-inputs {

			// 'Name of the album' input field
			.input-field {
				margin-bottom: 1rem;
			}

			// hide 'Location of the album' input
			&>label {
				display: none;
			}
		}

		.form-buttons {

			.left-buttons {

				// 'Back' button
				.button-vue--vue-tertiary {
					border: 1px solid var(--color-border);
				}
			}

			.right-buttons {

				// Hide 'Add collaborators' button 
				.button-vue--vue-secondary {
					display: none;
				}

				// 'Create album' button
				.button-vue--vue-primary {
					margin: 0 !important;

					.button-vue__icon {
						display: none;
					}
				}
			}
		}

		h2 {
			font-size: 1.5rem;
			height: auto !important;
			margin-bottom: 1.5rem;
		}

		.albums-container {
			overflow-x: unset !important;
			overflow-y: auto;
			margin-bottom: 1.5rem;

			.album {

				.list-item {
					border-radius: var(--border-radius-large);
					padding: 0.5rem !important;
					margin-left: 0;
					transition: none;

					&:hover {
						background-color: var(--color-background-hover);
					}
				}
			}
		}

		.new-album-button {
			background-color: var(--color-primary);
			border: 0;
			color: var(--nmc-color-text-and-icon-white);
			margin-right: 0;
			margin-left: 0;

			&:hover:not(:disabled) {
				background-color: var(--color-primary-hover);
			}

			.button-vue__icon {
				margin-left: -1rem;
			}
		}
	}

	.album-form {
		padding-top: 3rem !important;

		.form-inputs {
			.input-field:nth-child(2) {
				display: none;
			}

			.input-field__main-wrapper {
				label {
					display: none;
				}
			}
		}

		.form-buttons {
			flex-direction: row;
		}
	}
}

#body-user .modal-header {
	h2.modal-title {
		display: none;
	}
}

// Add Photos to the album modal window
#body-user .modal-container,
#body-settings .modal-container {
	background-color: var(--color-main-background);

	button.modal-container__close {
		border: none;
		z-index: 20;

		&:hover:not(:disabled) {
			.close-icon {
				filter: var(--nmc-color-icon);
			}

			background-color: initial;
		}

		.close-icon {
			background-image: var(--icon-close-x-dark);
			background-position: center;
			background-repeat: no-repeat;
			height: 100%;
			width: 100%;

			svg {
				display: none;
			}
		}
	}

	.dialog__name {
		font-size: 1.5rem;
		height: unset;
		line-height: unset;
		margin: 1.5rem;
		min-height: unset;
		text-align: left;
	}

	.photos-picker__actions {

		.upload-picker, .button-vue__icon {
			display: none;
		}
	}

	.photos-picker {
		
		.file-container {
		
			.favorite-marker-icon {
				background-image: var(--icon-starred-yellow);
				width: 32px;
				height: 32px;

				svg {
					display: none;
				}
			}
		}

		.checkbox-radio-switch.selection-checkbox {
			top: 2px;
			right: 2px;

			.checkbox-content {
				background: transparent;

				.material-design-icon {
					background-color: var(--color-main-background);
					border: 1px solid var(--color-primary-element);
					border-radius: var(-border-radius);
					height: 1rem;
					width: 1rem;
					margin: 0;

					&.checkbox-marked-icon {
						background-image: var(--original-icon-check-white);
						background-color: var(--color-primary-element);
						background-position: center;
						background-repeat: no-repeat;
						background-size: 18px;
					}
				}

				&:hover {

					.material-design-icon {
						background-color: var(--color-background-hover);
						border: 1px solid var(--color-primary-element-hover);
	
						&.checkbox-marked-icon {
							background-color: var(--color-primary-element-hover);
						}
					}
				}

				svg {
					display: none;
				}
			}
		}
	}

	.file-picker {
		overflow: visible;

		.dialog__wrapper {
			margin-block: 0 1.5rem;
			padding-inline: 1.5rem;
			overflow: visible;

			.dialog__content {
				margin-top: 0.5rem;
				padding: 0;
			}
		}

		.dialog__actions {
			margin-block: 0 1.5rem;
			padding-inline: 0 1.5rem;
		}

		&+button.modal-container__close {
			margin-right: 0.75rem;
			margin-top: 0.75rem;
		}

		&__breadcrumbs {
			flex-grow: unset;
		}

		&__actions {
			flex-direction: row-reverse;

			.upload-picker {
				display: none;
			}

			button {
				&:disabled {
					& .material-design-icon.image-plus-icon {
						background-image: var(--icon-add-dark);
					}
				}

				& .material-design-icon.image-plus-icon {
					background-image: var(--original-icon-add-white);
					width: 44px;
					height: 44px;
					background-position: center;
					background-repeat: no-repeat;
					background-size: 24px;
				}

				svg {
					display: none;
				}
			}
		}

		// Tiled Photos view
		&__file-list.files-list-viewer {
			.files-list-viewer__section-header {
				background-color: var(--color-main-background);
			}

			div.file-container {
				&::after {
					display: none;
				}

				.checkbox-radio-switch {
					// make unchecked checkboxes always visible
					display: block;
					visibility: visible;

					// restyle unchecked checkboxes 
					&__label {
						.material-design-icon::before {
							background-color: white;
						}

						&:hover {
							.material-design-icon::before {
								border-color: black;
							}
						}
					}

					// checked checkboxes will be green
					&--checked {
						.checkbox-radio-switch__label:before {
							content: "";
							background-image: var(--original-icon-check-white);
							background-color: var(--color-success);
							background-position: center;
							background-repeat: no-repeat;
							background-size: 18px;
							border: none;
							border-radius: var(--border-radius-pill);
							height: 1.5rem;
							width: 1.5rem;
							margin: -2px -2px 0 0;
						}

						.checkbox-marked-icon {
							display: none;
						}
					}
				}

				span.star-icon {
					background-image: var(--icon-starred-yellow);
					background-repeat: no-repeat;
					background-position: center;
					background-size: 18px;
					width: 24px;
					height: 24px;

					svg {
						display: none;
					}
				}

				span.folder-icon {
					background-image: var(--icon-folder-dark);
					background-repeat: no-repeat;
					background-position: center;
					background-size: 18px;
					width: 24px;
					height: 24px;

					svg {
						display: none;
					}
				}
			}
		}

		&__navigation {
			display: block;
			padding: 0;
			overflow: visible;

			&__month {
				border-radius: var(--border-radius-large);
				height: 44px;
				text-align: left;
				display: flex;
				align-items: center;

				&.selected,
				&:not(.selected):hover {
					background-color: var(--color-background-hover);
					color: var(--color-primary);
				}
			}

			.v-select.select {
				display: none;
			}

			.input-field {
				max-width: 100%;
				margin: 0;
			}
		}

		&__breadcrumbs {

			nav {
				display: inline-flex;
				flex-grow: 0;
				min-width: unset;

				.vue-crumb {

					&>a {
						min-width: unset;

						&:hover {
							background-color: unset;
						}
					}

					&:last-child {
						min-width: unset;
					}
				}

				span.home-icon {
					background-image: var(--icon-home-dark);
					background-repeat: no-repeat;
					background-position: center;
					background-size: 24px;
					width: 24px;
					height: 24px;

					svg {
						display: none;
					}
				}

				span.vue-crumb__separator {
					display: flex;
					background-image: var(--icon-breadcrumb-arrow-grey);
					background-repeat: no-repeat;
					background-position: center;
					background-size: 24px;
					width: 24px;
					height: 24px;

					svg {
						display: none;
					}
				}
			}

			.breadcrumb__actions {

				button {
					border: none;
					margin: 0;
					padding: 0;

					.plus-icon {
						border: 1px solid var(--color-primary);
						border-radius: 50%;
					}

					svg {
						color: var(--color-primary);
					}

					.button-vue__text {
						display: none;
					}

					&:hover {
						background-color: unset;
					}
				}
			}
		}

		&__files {
			overflow: auto;
			margin: 0;

			table {
				width: 100%;

				tbody {

					tr {
						height: 60px;
					}

					tr:not(.group-header):hover, tbody tr:not(.group-header):focus, tbody tr:not(.group-header):active {
						background-color: var(--color-background-hover);
					}
				}
			}

			th {
				background-color: var(--color-main-background);
				border-bottom: 1px solid var(--color-border) !important;

				.button-vue {
					border: none;
					margin: 0;
					padding: 0;


					&:hover:not(:disabled) {
						background-color: unset;
						border-color: unset;
						color: unset;
					}

					&:focus:not(:disabled) {
						outline: unset;
						outline-offset: unset;
					}

					.button-vue__icon {
						min-width: 20px;
						width: 20px;
					}
				}

				&.row-name {

					.file-picker__header-preview {
						width: 52px;
					}

					.button-vue__wrapper {
						justify-content: start;
					}
				}

				&.row-modified {

					.button-vue__wrapper {
						justify-content: end;
						flex-direction: row;

						span.button-vue__text {
							padding-right: 8px;
						}
					}
				}
			}

			td {
				border-bottom: 1px solid var(--color-border) !important;
				cursor: pointer;

				&.row-name {
					padding: 0;

					.file-picker__name-container {
						cursor: pointer;
						display: flex;

						div {
							cursor: pointer;
							height: 44px;
							width: 44px;
							min-height: 44px;
							min-width: 44px;
							line-height: 44px;

							&.file-picker__file-name {
								padding-left: 0.5rem;
							}

							svg {
								color: var(--nmc-ods-blue-active);
								height: 44px;
								width: 44px;
							}
						}
					}
				}

				&.row-modified, &.row-size {
					text-align: right;

					span {
						cursor: pointer;
						padding-right: 8px;
					}
				}
			}
		}
	}

	.file-container {
		&:focus-within::after {
			outline: none;
			pointer-events: none;
		}

		img {
			cursor: default;
		}
	}

	.app-settings-section {
		margin-bottom: 2rem;
	}
	
	#settings-section_layout-settings,
	.app-settings__navigation {
		display: none;
	}
}

// Device Sessions modal window
#body-settings .modal-wrapper--small > .modal-container {
	width: 550px;
}

// Share Album modal window
#body-user .modal-container {
	.sharingAlbum{
		&__divider {
			border-bottom: 1px solid var(--color-border);
			margin-bottom: 1rem;
			text-align: center;
		}

		&__or {
			background-color: var(--color-main-background);
			bottom: -0.75rem;
			font-size: 14px;
			padding: 0.75rem;
			position: relative;
		}
	}

	.manage-collaborators{
		height: 130px;
		.actions {
			display: block;

			.sharing-link {
				cursor: pointer;
				position: relative;
				display: flex;
				flex-direction: row;
				align-items: center;
				font-size: 14px;
				gap: 2px;
				color: var(--color-text-lighter);
				font-weight: bold;
			}
		}

		&__title {
			margin: unset;
			font-size: 20px;
			line-height: initial;
		}

		.album-sharing-search form {
			min-width: auto;
    		width: 100%;
    		margin: 0.75rem 0;
			.vs__dropdown-toggle {
				margin: 0.75rem 0;
			}
		}

		.actions {
			h2 {
				margin: unset;
				font-size: 20px;
				line-height: initial;
				display: flex;
				align-items: center;
				min-height: 2rem;
				margin-bottom: unset;
			}
			
			&__sharing-entry {
				display: flex;
				flex-direction: column;
				justify-content: space-between;
				padding: 0.5rem;
				line-height: 1rem;
				margin-right: auto;
				overflow: auto;

				.share-select {
					margin-top: unset;
				}
			}

			&__public-link {
				min-height: 2rem;
    			// justify-content: flex-end;
    			gap: 0.5rem;
				margin-top: 1rem;
			}
			// .button-vue__icon{
			// 	min-width: 2rem !important;
    		// 	width: 2rem !important;
    		// 	min-height: 2rem !important;
    		// 	height: 2rem !important;
			// }
			.button-vue {
				padding: 0 0.5rem !important;
				min-height: 2rem !important;
				margin: 0 !important;

				&__text {
					font-size: 14px;
				}

				&__icon {
					min-width: 2rem !important;
					width: 2rem !important;
					min-height: 2rem !important;
					height: 2rem !important;

					.icon {
						background-size: 18px;
					}
				}
			}

			&__slot{
				display:none;
			}
		}
	}
}

// File Info modal window
#file-info-exif .modal-container {
	&__content {
		overflow: unset;
	}

	.modal__content--file {
		.modal__right{
			max-height: 35vh;
			overflow: auto;
			padding: 5px 20px;
		}
	}

	button.modal-container__close {
		background: white;

		&:hover:not(:disabled) {
			background: white;
		}
	}
}