@import '../_mixins.scss';
@import '../variables';

#nmcsettings, .nmcsettings {
	display: flex;
	padding: 3rem 3rem 0;

	@media screen and (max-width: $breakpoint-mobile) {
		padding: 3rem 2rem 0;
	}

	.section {
		margin-top: 0;
		width: 100%;
	}

	& > .section {
		padding: 0;
	}

	.settings-hint {
		margin-bottom: 1rem;
		margin-top: 0;
	}

	&.storage {
		display: block;
		margin-bottom: 1.5rem;
	}

	&:last-child {
		padding-bottom: 3rem;
	}
	
	.personal-settings-account-container {
		display: flex;
		flex-direction: column;
		max-width: 1280px;

		h2 {
			color: var(--telekom-color-text-and-icon-standard);
			font-size: 1.25rem;
			font-weight: bold;
			margin-bottom: 1rem;
		}

		.personal-settings-container {
			display: flex;
			flex-direction: column;
			margin-bottom: 1.5rem;
			vertical-align: baseline;

			input[type='text'],
			input[type='email']
			{
				width: 400px;
				height: 3rem !important;
				padding: 0.75rem;
				background-color: var(--telekom-color-ui-subtle);
				border: 1px solid var(--telekom-color-ui-subtle);
				border-radius: var(--telekom-radius-small);

				&.additional {
					background-color: var(--color-main-background);
					border: 1px solid var(--telekom-color-text-and-icon-standard);

					&.notification {
						color: var(--telekom-color-primary-standard);
					}
				}

				&:disabled {
					color: var(--telekom-color-text-and-icon-disabled);
				}
			}

			button  {
				background: none;
				margin: 0;
			}

			&.name-box {
				flex-direction: unset;
			}

			@media screen and (max-width: $breakpoint-mobile) {

				&.name-box {
					flex-direction: column;

					.language-box {
						margin-top: 1rem;
					}
				}
			}

			&.clients-box  {
				margin: 0;

				&.desktop {
					display: none;
					margin-top: 1.5rem;
				}

				a {
					padding-right: 0.5rem;
				}
				
				img {
					height: 4rem;
				}
			}

			&.webdav-box {
				max-width: 800px;
			
				span {
					color: var(--telekom-color-primary-standard);
				}
			}

			&.authtokens-box {
		
				#security {
					max-width: 800px;
					
					table {

						th {
							background-color: var(--telekom-color-ui-subtle);
							color: var(--telekom-color-text-and-icon-standard);
							font-weight: bold;
							opacity: 1;
						}

						tr:last-child {

							td {
								border-bottom: 1px solid var(--color-border);
							}
						}
					}

					.app-password-row {
						margin-top: 1rem;

						.button-vue--icon-only {
							background: none;
							border: 0;
						}
					}

					.settings-hint {
						margin-bottom: 1rem;
						margin-top: 1.5rem;
						opacity: unset;
					}

					.spacing {
						padding-top: 0;
					}
				}
			}

			.personal-settings-setting-box {
				margin-right: 2rem;
			}
		}

		a {
			color: var(--telekom-color-primary-standard);
			font-weight: bold;
		}

		section, .section {
			padding: 0;
		}

		.headerbar-label {
			color: var(--telekom-color-ui-strong);
			font-size: 1rem;
			font-weight: normal;
			height: 1.5rem;
			margin: 0;
			padding-left: 0.75rem;
			width: 400px;

			.action-item {
				display: none;
			}

			button {
				height: 1.5rem;
				min-height: 1.5rem;
				padding: 0;

				&:hover, &:focus {
					border: none;
					outline: none;
				}

				.button-vue__icon {
					height: 1.5rem;
					min-height: 1.5rem;
					width: 1.5rem;
					min-width: 1.5rem;
				}
			}

			label {
				margin-bottom: 0.25rem;
			}

			.federation-menu {
				display: none;
			}
		}

		.email-box {

			.email {
				width: 400px;

				.email__actions-container {
					
					.email__actions {
						opacity: 1 !important;
					}

					.alert-octagon-icon {
						background-image: var(--icon-warning-dark);
						background-size: 20px;
						height: 20px;
						width: 20px;

						svg {
							display: none;
						}
					}
				}
			}

			.email__helper-text-message {

				.alert-circle-outline-icon {
					background-image: var(--icon-warning-dark);
					background-size: 20px;
					height: 20px;
					margin: 0 6px 0 12px;
					width: 20px;
					@include color-icon-red;

					svg {
						display: none;
					}
				}
			}
	
			em {
				color: var(--telekom-color-primary-standard);
				display: block;
				margin-bottom: 0.75rem;
				padding-left: 0.75rem;

				&.additional-emails-label {
					color: var(--telekom-color-ui-strong);
					margin-bottom: 0;
					margin-top: 1.5rem;
				}
			}

			button {
				border: none;
				color: var(--telekom-color-primary-standard);
				font: var(--telekom-text-style-body);
				line-height: 3rem;
				padding: 0;

				&:focus {
					outline: none;
				}

				.plus-icon {
					border: 1px solid var(--telekom-color-primary-standard);
					border-radius: 1rem;
					height: 1.5rem;
					width: 1.5rem;
				}
			}
		}

		.quota-box {
	
			.icon-quota {
				background: none;
				margin: 1rem 0;
			}

			.quota-text {
				margin-bottom: 0.5rem;

				.usage-total {
					display: inline;
				}

				.memory-occupied {
					font-size: 1rem;
					float: right;
					display: inline;
				}
			}

			.settings-progress-bar {
				display: flex;
				height: 0.5rem;
				width: 100%;
				background: var(--telekom-color-ui-subtle);
				border-radius: 0.5rem;

				.progress-bar {
					border-radius: 0.5rem;

					&:not(:first-child):before {
						content: '';
						display: block;
						width: 0.25rem;
						height: 0.5rem;
						border-top-right-radius: 0.5rem;
						border-bottom-right-radius: 0.5rem;
						background: var(--telekom-color-ui-base);
					}
				}
			}

			.usage-details {

				strong {
					margin-left: 0.5rem;
				}

				#files,
				#photos,
				#backup,
				#bin{
					border-radius: 30px;
					width: 1rem;
					height: 0.5rem;
					display: inline-block;
					margin: 0.125rem 0.25rem;
				}
				
				.recycle-paragraph {
					margin-top: 1.5rem;
				}
			}
			
			.progress-bar {
				height: 0.5rem;
			}
				
			.files-usage{
				background-color: #22adb9;
			}

			.photos-usage{
				background-color: #b682bd;
			}

			.backup-usage{
				background-color: #828ac4;
			}

			.bin-usage{
				background-color: #fc9a55;
			}
		}
	}

	button {
		height: 40px;
		padding: 0 1.5rem;
		background-color: var(--telekom-color-ui-base);
		border-color: var(--telekom-color-text-and-icon-standard);
		color: var(--telekom-color-text-and-icon-standard);
		border-radius: var(--telekom-radius-small);
		font-size: 1rem;
		margin: 1rem 0 0;

		&:hover{
			border: 1px solid var(--telekom-color-primary-standard);
			color: var(--telekom-color-primary-standard);
		}

		&.button-vue--icon-only:hover{
			border: none;
		}
	}

	select#account-setting-language {
		width: 400px;
		height: 3rem;
		padding: 0.75rem;
		background-color: var(--telekom-color-ui-base);
		border: 1px solid var(--telekom-color-text-and-icon-standard);
		border-radius: var(--telekom-radius-small);
		display: inline-block;

		option:disabled {
			display: none;
		}
	}

	.theming {

		p:first-child {
			display: none;
		}

		h2 {

			&.settings-section__title {
				font-size: 32px;
			}
			
			&.subheader {
				margin-top: 2rem;
			}
		}
	
		.theming__preview-list {
			grid-template-columns: 1fr 1fr 1fr;

			.theming__preview {

				&--default {
					grid-column: unset;

					.theming__preview-image {
						position: relative;
						background-position: top center;

						&::after {
							background-image: var(--original-icon-settings-white);
							background-position: center;
							background-repeat: no-repeat;
							background-size: 64px;
							content: "";
							display: block;
							position: absolute;
							left: 0px;
							top: 0px;
							height: 100%;
							width: 100%;
						}
					}
				}
				

				.theming__preview-image {
					border: 2px solid var(--telekom-color-primary-standard);
					border-radius: unset;
					flex-basis: calc(18px * var(--ratio));
					height: calc(12px * var(--ratio));

					@media screen and (max-width: $breakpoint-mobile-medium) {
						flex-basis: calc(12px * var(--ratio));
					}
				}

				h3 {
					font-weight: bold;
					margin-bottom: 0.5rem;
					margin-top: 0.5rem;
				}

				p {
					margin-bottom: 0.5rem;
				}
			}
		}
	}
}

#monthly-notifications-settings {
	border: none;
	display: block;
	padding: 1.5rem 3rem 0;

	&.section {

		h2 {
			margin-bottom: 1rem;
		}

		.settings-hint {
			margin: 0 0 1rem;
			opacity: unset;
		}
	}
}

#ocDefaultEncryptionModule {
	border: none;
	display: block;
	padding: 2rem 3rem 3rem;

	&.section {

		h2 {
			margin-bottom: 1rem;
		}
	}

	input[type='password']
	{
		width: 400px;
		height: 3rem !important;
		padding: 1rem;
		background-color: var(--telekom-color-ui-subtle);
		border: 1px solid var(--telekom-color-ui-subtle);
		border-radius: var(--telekom-radius-small);
		margin: 1rem 0.5rem 0 0;
	}

	button {
		background-color: var(--telekom-color-ui-base);
		border-color: var(--telekom-color-text-and-icon-standard);
		border-radius: var(--telekom-radius-small);
		color: var(--telekom-color-text-and-icon-standard);
		cursor: pointer;
		font-size: 1rem;
		height: 40px;
		margin: 1rem 0 0;
		opacity: 1;
		padding: 0 1.5rem;

		&:hover{
			border: 1px solid var(--telekom-color-primary-standard);
			color: var(--telekom-color-primary-standard);
		}

		&.button-vue--icon-only:hover{
			border: none;
		}
	}
}

#app-content {

	.settings-section {
		padding: 1.5rem 3rem 0;
		border: none;

		&.theming {
			padding: 0;
		}

		&--limit-width {
			padding: 3rem 0;

			p {
				max-width: 800px;
			}
		}

		.button-vue {

			&.button-vue--vue-warning, &.button-vue--vue-error {
				background-color: var(--telekom-color-primary-standard);

				&:hover:not(:disabled) {
					background-color: var(--telekom-color-primary-hovered);
				}
			}
		}

		.notecard.warning {
			background-color: var(--telekom-color-background-canvas-subtle) !important;
			border: unset;
			border-radius: unset;
			max-width: 800px;

			.checkbox-radio-switch:not(.checkbox-radio-switch--disabled) {

				.checkbox-radio-switch__input:hover+.checkbox-radio-switch__label {
					background-color: unset;
				}
			}
		}
	}
}

// TODO this should be done by the icon generation script

body .icon-mail-opened, body .icon-mail-opened-dark {
    background-image: var(--icon-mail-opened-dark);
}

body .icon-auto-login, body .icon-auto-login-dark {
    background-image: var(--icon-auto-login-dark);
}