@import '../_mixins.scss';

#app-sidebar-vue {
	.app-sidebar-header {
			&__desc {
				padding: var(--telekom-spacing-composition-space-04) var(--telekom-spacing-composition-space-06) var(--telekom-spacing-composition-space-08);
				// hide '...' actions button
				.app-sidebar-header__menu {
					display: none;
				}

				// container of the Star button
				.app-sidebar-header__tertiary-actions {
					width: 1.5rem;
				}

				button.app-sidebar-header__star {
					all: unset;
					.button-vue__icon {
						width: 1.5rem;
						min-width: 1.5rem;
						.material-design-icon {
							width: 1.5rem;
							height: 1.5rem;
						}
					}
					.star-outline-icon {
						background-image: var(--icon-star-dark);
						svg {
							display: none;
						}
					}
					.star-icon {
						background-image: var(--icon-starred-yellow);
						svg {
							display: none;
						}
					}
				}
			}

			// 'Close' button
			button.app-sidebar__close {
				opacity: 1;
				background-color: var(--color-main-background);
				top: 1rem;
				right: 1rem;
				&:hover, &:active, &:focus {
					background-color: var(--color-background-hover);
					.button-vue__icon {
						@include color-icon;
					}
				}
				.button-vue__icon {
					background-image: var(--icon-close-dark);
					background-position: center;
					background-repeat: no-repeat;
					// hide initial icon
					svg {
						display: none;
					}
				}
			}

			&__maintitle-container {
				min-height: auto;
			}
			&__maintitle {
				font-size: var(--telekom-typography-font-size-body);
				min-height: auto;
				line-height: 22px;
			}
			&__subtitle {
				font-size: 14px;
				opacity: 1;
			}
	}

	.app-sidebar-header--compact {
		margin-bottom: 1.5rem;
		// reset absolute position of 'Favorite' button in header of folder share
		.app-sidebar-header__tertiary-actions{
			position: initial;
		}
		.app-sidebar-header__desc {
			padding-top: var(--telekom-spacing-composition-space-06);
		}
		.app-sidebar-header__figure {
			margin: var(--telekom-spacing-composition-space-04) 0 0 var(--telekom-spacing-composition-space-06);
		}
	}

	.app-sidebar-tabs {
		min-height: auto;
		padding: 0 var(--telekom-spacing-composition-space-06);
	}

	// remove tab navigation
	.app-sidebar-tabs__nav {
		display: none;
	}

	// remove left and right padding in sharing tab
	.app-sidebar-tabs__content {
		.app-sidebar__tab {
			&:focus {
				box-shadow: none;
				border-color: initial;
			}
			padding: 0;
		}
	}

	.sharing-entry__avatar, .button-vue__icon {
		.icon {
			display: block;
			height: 100%;
			width: 100%;
			&.icon-default {
				background-image: var(--icon-link-dark);
			}
			&.icon-link {
				background-image: var(--icon-link-dark);
			}

			&.icon.icon-user {
				background-image: var(--icon-user-dark);
			}

			&.icon.icon-upload-to-cloud {
				background-image: var(--icon-upload-to-cloud-dark);
			}

			&.icon-checkmark-magenta {
				background-image: var(--icon-checkmark-magenta);
			}

			&.icon-clipboard {
				background-image: var(--icon-clipboard-dark);
				&:hover {
					@include color-icon;
				}
			}

			&.icon-add:hover {
				@include color-icon;
			}

		}
	}
}

// Sharing details container
.sharingTabDetailsView {
	margin: 0 !important;
}