@import '../_mixins.scss';

#app-sidebar-vue {

	.app-sidebar-header {
		&__desc {
			padding: var(--telekom-spacing-composition-space-04) var(--telekom-spacing-composition-space-06) var(--telekom-spacing-composition-space-08);
			// hide '...' actions button
			.app-sidebar-header__menu {
				display: none;
			}

			// container of the Star button
			.app-sidebar-header__tertiary-actions {
				width: 1.5rem;
			}

			button.app-sidebar-header__star {
				all: unset;
				&:hover:not(:disabled) {
					background-color: initial;
				}
				.button-vue__icon {
					width: 1.5rem;
					min-width: 1.5rem;
					.material-design-icon {
						width: 1.5rem;
						height: 1.5rem;
					}
				}
				.star-outline-icon {
					background-image: var(--icon-star-dark);
					svg {
						display: none;
					}
				}
				.star-icon {
					background-image: var(--icon-starred-yellow);
					svg {
						display: none;
					}
				}
			}
		}

		// 'Close' button
		button.app-sidebar__close {
			opacity: 1;
			background-color: var(--color-main-background);
			top: 1rem;
			right: 1rem;
			transition: none;
			&:hover, &:active, &:focus {
				.button-vue__icon {
					filter: var(--nmc-color-icon)
				}
			}
			.button-vue__icon {
				background-image: var(--icon-close-dark);
				background-position: center;
				background-repeat: no-repeat;
				// hide initial icon
				svg {
					display: none;
				}
			}
		}

		&__maintitle-container {
			min-height: auto;
		}
		&__maintitle {
			font-size: var(--telekom-typography-font-size-body);
			min-height: auto;
			line-height: 22px;
		}
		&__subtitle {
			font-size: 14px;
			opacity: 1;
		}
		&__figure {
			background-size: cover;
		}
	}

	.app-sidebar-header--compact {
		margin-bottom: 1.5rem;
		// reset absolute position of 'Favorite' button in header of folder share
		.app-sidebar-header__tertiary-actions{
			position: initial;
		}
		.app-sidebar-header__desc {
			padding-top: var(--telekom-spacing-composition-space-06);
		}
		.app-sidebar-header__figure {
			margin: var(--telekom-spacing-composition-space-04) 0 0 var(--telekom-spacing-composition-space-06);
		}
	}

	.app-sidebar-tabs {
		min-height: auto;
		padding: 0 var(--telekom-spacing-composition-space-06);
	}

	// remove tab navigation
	.app-sidebar-tabs__nav {
		display: none;
	}

	// remove left and right padding in sharing tab
	.app-sidebar-tabs__content {

		.app-sidebar__tab {
			padding: 0;
			overflow: unset;

			&:focus {
				box-shadow: none;
				border-color: initial;
			}
		}
	}

	.sharing-entry__avatar, .button-vue {

		&__icon {

			.icon {
				display: block;
				height: 100%;
				width: 100%;
				&.icon-default {
					background-image: var(--icon-link-dark);
				}
				&.icon-link {
					background-image: var(--icon-link-dark);
				}
	
				&.icon-user {
					background-image: var(--icon-user-dark);
				}
	
				&.icon-upload-to-cloud {
					background-image: var(--icon-upload-to-cloud-dark);
				}
	
				&.icon-checkmark-magenta {
					background-image: var(--icon-checkmark-magenta);
				}
	
				&.icon-checkmark {
					background-image: var(--icon-checkmark-white);
				}
	
				&.icon-clipboard {
					background-image: var(--icon-clipboard-dark);
				}
	
				&.icon-add:hover {
					filter: var(--nmc-color-icon)
				}
	
			}		
		}

		@media only screen and (max-width: 1280px) {
			&__icon {
				margin-left: 0 !important;
			}
		}
	}

	// '...' button in internal shares list
	.sharing-entry__action {
		margin-left: auto;
		&:hover {
			svg {
				color: var(--telekom-color-text-and-icon-primary-standard);
			}
		}
	}
}

.button-vue__icon {

	.icon {
		display: block;
		height: 100%;
		width: 100%;

		&.icon-default {
			background-image: var(--icon-link-dark);
		}
		&.icon-link {
			background-image: var(--icon-link-dark);
		}

		&.icon-user {
			background-image: var(--icon-user-dark);
		}

		&.icon-upload-to-cloud {
			background-image: var(--icon-upload-to-cloud-dark);
		}

		&.icon-checkmark-magenta {
			background-image: var(--icon-checkmark-magenta);
		}
	
		&.icon-checkmark {
			background-image: var(--icon-checkmark-white);
		}

		&.icon-clipboard {
			background-image: var(--icon-clipboard-dark);
		}

		&.icon-add:hover {
			filter: var(--nmc-color-icon)
		}

	}		
}

// Sharing details container
.sharingTabDetailsView {
	margin: 0 !important;
}

// TODO this should be done by the icon generation script
body .icon-upload-to-cloud, body .icon-upload-to-cloud-dark {
    background-image: var(--icon-upload-to-cloud-dark);
}

.sharingPopup__content, .sharingTab__content, .sharingTabDetailsView {

	.button-vue {
		padding: 0 0.5rem !important;
		min-height: 2rem !important;
		margin: 0 !important;

		&__text {
			font-size: 14px;
		}

		&__icon {
			min-width: 2rem !important;
			width: 2rem !important;
			min-height: 2rem !important;
			height: 2rem !important;

			.icon {
				background-size: 18px;
			}
		}
	}

	.sharing-entry {
		gap: .5rem;
	}
}

.sharingPopup__success {
	padding: 1rem;

	.check-circle-outline-icon {
		background-image: var(--icon-popup-success-success);
		background-repeat: no-repeat;
		background-position: center;
		background-size: 10rem;
		margin: 3rem 0 1rem;
		height: 10rem;
		width: 10rem;
		
		svg {
			display: none;
		}
	}

	.message {
		text-align: center;
		font-size: 24px;
		margin-bottom: 1rem;
	}

	.recipients {
		text-align: center;
		color: var(--color-text-maxcontrast);
		margin-bottom: 3rem;
	}
}