#viewer {
    --header-height: 64px;

    button.next, button.prev {
        svg {
            color: var(--telekom-color-text-and-icon-white-standard);
        }
    }

    // hide 'Active people' button for text documents
    .text-editor__session-list .session-list {
        display: none;
    }
    
    .modal-header {
        .modal-title {
            font-size: 1rem;
        }
        height: var(--header-height);
        .icons-menu {
            padding: 12px 16px 12px 0;
            gap: var(--telekom-spacing-composition-space-04);
            & > button, button[aria-label="Actions"], button[aria-label="Aktionen"], button[aria-label*="Edit"], button[aria-label*="Bearbeiten"] {
                border-radius: var(--telekom-radius-circle);
                display: flex;
                width: 44px;
                height: 44px;
            }

            button.play-pause-icons {
                & > span.material-design-icon {
                    margin: 0;
                }
                svg.progress-ring {
                    width: 44px;
                    height: 44px;
                    circle {
                        cx: 22;
                        cy: 22;
                    }
                }
            }
        }
    }

    // set the correct background color of header buttons
    &.theme {
        &--default {
            .icons-menu > button, button[aria-label="Actions"], button[aria-label="Aktionen"], button[aria-label*="Edit"], button[aria-label*="Bearbeiten"] {
                background-color: var(--color-background-dark);
                &:hover, &:focus {
                    // overrides nextcloud style
                    background-color: var(--telekom-color-ui-state-fill-hovered) !important;
                }
            }
        }

        &--dark {
            .icons-menu > button, button[aria-label="Actions"], button[aria-label="Aktionen"], button[aria-label*="Edit"], button[aria-label*="Bearbeiten"] {
                background-color: var(--telekom-color-background-surface-highlight);
                &:hover, &:focus {
                    // overrides nextcloud style
                    background-color: #666666 !important;
                    // overrides ncactions style
                    svg {
                        color: var(--telekom-color-text-and-icon-white-standard);
                    }
                }
            }
        }
    }
}

.v-popper__inner {
    span.download-icon {
        background-image: var(--icon-download-dark);
        svg {
            display: none;
        }
    }

    span.icon-menu-sidebar {
        background-image: var(--icon-share-dark);
    }
}
