#viewer {
    --header-height: 64px;

	button[aria-label*="Edit"] {
        display: none;
    }

    button.next, button.prev {
        svg {
            color: var(--telekom-color-text-and-icon-white-standard);
        }
    }

    .modal-header {
        height: var(--header-height);
        .icons-menu {
            padding: 12px 16px 12px 0;
            gap: var(--telekom-spacing-composition-space-04);
            & > button, button[aria-label="Actions"] {
                border-radius: var(--telekom-radius-circle);
                background-color: var(--telekom-color-background-surface-highlight);
                width: 44px;
                height: 44px;

                &:hover, &:focus {
                    // override nextcloud styles
                    background-color: #666666 !important;
                    svg {
                        color: var(--telekom-color-text-and-icon-white-standard);;
                    }
                }
            }

            button.play-pause-icons {
                & > span.material-design-icon {
                    margin: 0;
                }
                svg.progress-ring {
                    width: 44px;
                    height: 44px;
                    circle {
                        cx: 22;
                        cy: 22;
                    }
                }
            }
        }
    }
}

// hide 'Open sidebar' option
#viewer-sidebar-btn {
	display: none;
}

// div.v-popper--theme-tooltip {
//     display: none !important;
// }
