#viewer {
    /* .modal-title {
        align: left;
    } */

    .icons-menu .v-popper--has-tooltip {
        display: none;
    }

    /* .header-actions .action-item__popper .v-popper--has-tooltip {
        display: none;
    } */
}