.app-menu .app-menu-main .app-menu-entry {
  height: 60px !important;
  margin-right: var(--telekom-spacing-composition-space-10);
  width: auto !important;
}
.app-menu .app-menu-main .app-menu-entry::before {
  background-color: var(--color-primary);
  border-radius: none;
  bottom: 0;
  content: " ";
  display: block;
  height: 2px;
  left: 50%;
  opacity: 0;
  pointer-events: none;
  position: absolute;
  transform: translateX(-50%);
  transition: all 0.1s ease-in-out;
  width: 100%;
}
.app-menu .app-menu-main .app-menu-entry.app-menu-entry__active::before {
  background-color: var(--color-primary) !important;
  border-radius: 0 !important;
  bottom: 0 !important;
  height: 4px !important;
  opacity: 1 !important;
  width: 100% !important;
}
.app-menu .app-menu-main .app-menu-entry.app-menu-entry__active .app-menu-entry--label {
  color: var(--color-primary) !important;
}
.app-menu .app-menu-main .app-menu-entry img {
  display: none;
}
.app-menu .app-menu-main .app-menu-entry .app-menu-entry--label {
  font-size: var(--default-font-size) !important;
  font-weight: var(--telekom-typography-font-weight-extra-bold) !important;
  letter-spacing: normal !important;
  opacity: 1 !important;
  position: relative !important;
  top: calc(50% - var(--default-line-height) / 2) !important;
}
.app-menu .app-menu-main .app-menu-entry:hover, .app-menu .app-menu-main .app-menu-entry:focus-within {
  opacity: 1;
}
.app-menu .app-menu-main .app-menu-entry:hover .app-menu-entry--label, .app-menu .app-menu-main .app-menu-entry:focus-within .app-menu-entry--label {
  color: var(--color-primary-hover) !important;
}
.app-menu .app-menu-main .app-menu-entry:hover::before, .app-menu .app-menu-main .app-menu-entry:focus-within::before {
  opacity: 1 !important;
}
.app-menu .app-menu-more {
  margin-right: var(--telekom-spacing-composition-space-06);
}

.app-menu-more .button-vue--vue-tertiary {
  opacity: 1 !important;
  margin: 0 !important;
  filter: unset !important;
}
.app-menu-more .button-vue--vue-tertiary.button-vue--icon-only {
  height: 32px !important;
  width: 32px !important;
  min-height: 32px !important;
  min-width: 32px !important;
}

.v-popper--theme-dropdown.v-popper__popper {
  margin: 0 4px;
  position: fixed !important;
  top: 64px !important;
  transform: unset !important;
  width: calc(100% - 8px);
}
.v-popper--theme-dropdown.v-popper__popper.action-item__popper .v-popper__wrapper .v-popper__inner {
  padding: var(--telekom-spacing-composition-space-07) 0 !important;
  min-height: calc(50vh - 16px) !important;
}
.v-popper--theme-dropdown.v-popper__popper.action-item__popper .v-popper__wrapper .v-popper__inner .app-menu-popover-entry {
  padding: 0 var(--telekom-spacing-composition-space-07) !important;
}
.v-popper--theme-dropdown.v-popper__popper.action-item__popper .v-popper__wrapper .v-popper__inner .app-menu-popover-entry .app-icon {
  display: none;
}
.v-popper--theme-dropdown.v-popper__popper.action-item__popper .v-popper__wrapper .v-popper__inner .app-menu-popover-entry.active {
  background: var(--color-main-background);
}
.v-popper--theme-dropdown.v-popper__popper.action-item__popper .v-popper__wrapper .v-popper__inner .app-menu-popover-entry .action-link {
  padding-right: var(--telekom-spacing-composition-space-07);
}
.v-popper--theme-dropdown.v-popper__popper.action-item__popper .v-popper__wrapper .v-popper__inner .app-menu-popover-entry[aria-current=page] .action-link {
  border-bottom: 2px solid var(--color-primary);
}/*# sourceMappingURL=appmenu.css.map */