//NcActionButton

ul li.action {
  user-select: none;

  &.active {
    &:focus-within {
      .action-button,
      .action-link {
        color: var(--color-primary-press) !important;
      }
    }

    &:hover {
      .action-button,
      .action-link {
        color: var(--color-primary-hover) !important;
      }
    }

    background-color: transparent;
  }

  button.action-button,
  a.action-link {
    opacity: 1;
    box-shadow: none;
  }
}

//NcActionInput

.action-input {
  cursor: auto !important;
}

//NcActionSeparator

.action-separator {
  margin: var(--spacing) !important;
  border-bottom: var(--telekom-spacing-composition-space-01) solid
    var(--color-border) !important;
}
