$breakpoint-mobile: 1024px;

:root {
	--color-hover: var(--telekom-color-text-and-icon-primary-hovered);
	--color-active: var(--telekom-color-text-and-icon-primary-pressed);
	--internal-padding: 0;
}

@media screen and (max-width: $breakpoint-mobile) {
	:root {
		--internal-padding: 8px;
	}
}

@mixin color-icon {
	filter: invert(14%) sepia(83%) saturate(3815%) hue-rotate(313deg) brightness(89%) contrast(127%);
	@media (prefers-color-scheme: dark) {    
		filter: brightness(0) saturate(100%) invert(14%) sepia(83%) saturate(3815%) hue-rotate(313deg) brightness(89%) contrast(127%);
	}
}

.app-navigation {

	// prevent mobile navigation toggle button to visually overlap underlying content
	.app-navigation-toggle {
		background-color: var(--color-main-background) !important;
	}

	// add vertical line to demarcate app navigation
	.app-navigation__content {
		border-right: 1px solid var(--telekom-color-ui-faint);
	}

	// remove gaps between navigation items
	.app-navigation__content .app-navigation__list {
		gap: 0px;
		padding-left: var(--internal-padding);
	}

	// default navbar link styling
	.app-navigation-entry {
		border-bottom: 1px solid var(--telekom-color-ui-faint);
		border-radius: 0;
		font: var(--telekom-text-style-ui-bold);
		.app-navigation-entry-link {
			padding: 0.25rem;
		}
		// left border styling
		&::before {
			content: '';
			display: block;
			position: absolute;
			top: 0px;
			height: 100%;
			border-left: 2px solid transparent;
		}
		// highlight only border on focus
		&:focus-within {
			background-color: transparent;
		}
	}

	// active link styling
	.app-navigation-entry.active {
		background-color: transparent !important;
		&::before {
			background-color: var(--telekom-color-primary-standard);
		}
		span {
			color: var(--color-active);
		}
		.app-navigation-entry-icon {
			@include color-icon;
		}
	}

	// on hover link styling
	.app-navigation-entry:hover {
		background-color: transparent !important;
		span {
			color: var(--color-hover);
		}
		.app-navigation-entry-icon {
			@include color-icon;
		}
	}
}

@media (prefers-color-scheme: dark) {    
	:root {
		--color-hover: var(--telekom-color-text-and-icon-primary-pressed);
		--color-active: var(--telekom-color-text-and-icon-primary-hovered);
	}
}
