@import '../_mixins.scss';

$breakpoint-mobile: 1024px;

:root {
	--color-hover: var(--telekom-color-text-and-icon-primary-hovered);
	--color-active: var(--telekom-color-text-and-icon-primary-pressed);
	--internal-padding: 0;
}

@media screen and (max-width: $breakpoint-mobile) {
	:root {
		--internal-padding: 8px;
	}
}

.app-navigation {
	// prevent mobile navigation toggle button to visually overlap underlying content
	.app-navigation-toggle {
		background-color: var(--color-main-background) !important;
	}

	// add vertical line to demarcate app navigation
	.app-navigation__content {
		border-right: 1px solid var(--telekom-color-ui-faint);
	}

	// remove gaps between navigation items
	.app-navigation__content .app-navigation__list {
		gap: var(--telekom-spacing-composition-space-03);
		padding-left: var(--internal-padding);
	}

	// default navbar link styling
	.app-navigation-entry {
		border-radius: var(--telekom-radius-standard);
		font: var(--telekom-text-style-ui-bold);
		.app-navigation-entry-link {
			padding: 0.25rem;
		}
		&:hover,  &.active {
			background-color: var(--color-background-hover);
		}
		// do not pin app navigation entries to the bottom
		&--pinned {
			margin-top: initial;
			margin-bottom: auto;
		}
		// hide nextcloud quota and files settings links
		&__settings li{
			display: none;
		}
	}

	// active link styling
	.app-navigation-entry.active {
		&::before {
			background-color: var(--telekom-color-primary-standard);
		}
		span {
			color: var(--color-active);
		}
		.app-navigation-entry-icon {
			@include color-icon;
		}
	}

	// on hover link styling
	.app-navigation-entry:hover {
		span {
			color: var(--color-hover);
		}
		.app-navigation-entry-icon {
			@include color-icon;
		}
	}

	// hide Collapse buttons
	.app-navigation-entry--collapsible button.icon-collapse{
		display: none;
	}
}

@media (prefers-color-scheme: dark) {    
	:root {
		--color-hover: var(--telekom-color-text-and-icon-primary-pressed);
		--color-active: var(--telekom-color-text-and-icon-primary-hovered);
	}
}

// icon update
#app-navigation-vue .app-navigation__list {
	// remove all the svgs
	span.icon-vue {
		display: none;
	}
	// add telekom icons as background images
	.nav-icon-systemtagsfilter {
		background-image: var(--icon-tag-dark);
	}
	a[title="Favorites"] {
		.app-navigation-entry-icon {
			background-image: var(--icon-star-dark);
		}
	}
	a[title="Recent"] {
		.app-navigation-entry-icon {
			background-image: var(--icon-history-dark);
		}
	}
	a[title="Deleted files"] {
		.app-navigation-entry-icon {
			background-image: var(--icon-delete-dark);
		}
	}
	a[title="Shares"] {
		.app-navigation-entry-icon {
			background-image: var(--icon-share-dark);
		}
	}
}
