header {
	--icon-menu: var(--original-icon-menu-dark);
	--icon-close: var(--original-icon-close-dark);
}

@media (prefers-color-scheme: dark) {
	header {
		--icon-menu: var(--original-icon-menu-white);
		--icon-close: var(--original-icon-close-white);
	}
}

// main navigation menu styles
#header {

	.app-menu {

		.app-menu-main {
	
			// visuals for navigation entries
			.app-menu-entry {
				height: 60px;
				margin-right: var(--telekom-spacing-composition-space-10);
				width: auto;
		
				&::before {
					background-color: var(--color-primary);
					border-radius: 0;
					bottom: 0;
					content: " ";
					display: block;
					height: 2px;
					left: 50%;
					opacity: 0;
					pointer-events: none;
					position: absolute;
					transform: translateX(-50%);
					width: 100%;
					transition: none;
				}
	
				.app-menu-entry--label {
					font-size: 20px;
					font-weight: bold;
					letter-spacing: normal;
					opacity: 1;
					position: relative;
					top: calc(50% - var(--default-line-height) / 2);
					transition: none;
				}
		
				&.app-menu-entry__active {
		
					.app-menu-entry--label {
						color: var(--color-primary);
					}
				}
		
				// hover effect for navigation entries
				&:hover,
				&:focus-within {
		
					&::before {
						background-color: var(--color-primary);
						border-radius: 0;
						bottom: 0;
						height: 4px;
						opacity: 1;
						width: 100%;
					}
		
					.app-menu-entry--label {
						color: var(--color-primary-hover);
					}
				}
	
				// hide navigation menu icons
				img {
					display: none;
				}
			}
		}

		// mobile menu button
		.app-menu-more {
			// increase distance of menu button to screen edge
			margin-right: var(--telekom-spacing-composition-space-06);

			.button-vue--vue-tertiary {
				opacity: 1;
				margin: 0;
				filter: unset;
			
				// decrease size of mobile menu button
				&.button-vue--icon-only {
					height: 32px;
					width: 32px !important;
					min-height: 32px;
					min-width: 32px;
			
					background-image: var(--icon-menu);
					background-size: auto 24px;
					background-position: center;
					background-repeat: no-repeat;
			
					.button-vue__wrapper {
						display: none;
					}
				}
			}
			
			&.action-item--open {
				
				.action-item__menutoggle {
				
					&.button-vue--icon-only {
						background-image: var(--icon-close);
					}
				}
			}
		}
	}
}

// // mobile navigation menu flyout
// .action-item__popper.v-popper--theme-dropdown.v-popper__popper {
// 	margin: 0 0.5rem;
// 	top: 76px;
// 	transform: unset !important;
// 	width: calc(100% - 1rem);
	
// 	&.action-item__popper {

// 		.v-popper__arrow-container {
// 			left: unset !important;
// 			right: 30px !important;
// 		}

// 		.v-popper__wrapper {

// 			.v-popper__inner {
// 				padding: 0.5rem;
// 				min-height: calc(50vh - 1rem);

// 				.app-menu-popover-entry {
// 					padding: 0;

// 					.app-icon {
// 						display: none;
// 					}

// 					&.active {
// 						background: var(--color-main-background);
// 					}

// 					.action-link {
// 						font: var(--telekom-text-style-ui);
// 						line-height: calc(2* var(--default-line-height));
// 						padding: 0.5rem 2rem;
// 					}

// 					&[aria-current="page"] {
// 						.action-link {
// 							border-left: 2px solid var(--color-primary);
// 						}
// 					}
// 				}
// 			}
// 		}
// 	}
// }