.breadcrumb {
	.crumb {
		// change arrow icon
		background-image: var(--icon-breadcrumb-arrow-grey);
		padding: 0px;
		// link text styling
		& > a {
			margin-right: 1.5rem;
			font-size: var(--telekom-typography-font-size-body);
			opacity: 1;
			color: var(--telekom-color-text-and-icon-standart);
			&:hover {
				color: var(--color-hover);
			}
		}

		// hide 'Shared' icon
		span.shared, span.icon-shared {
			display: none;
		}
	}

	// style flyout menu
	.crumbmenu .crumblist {
		a {
			opacity: 1;
		}
		&:hover > a {
			background-color: var(--color-main-background);
			color: var(--color-hover);
		}	
	}
}
