// checkbox button styling
span.checkbox-radio-switch.checkbox-radio-switch-checkbox {	
	// on hover unchecked inputs
	&:not(.checkbox-radio-switch--checked):hover .checkbox-radio-switch__icon {
		color: var(--telekom-color-ui-regular);
	}

	.checkbox-radio-switch__label {
		&::after {
			display: none;
		}
		// replace box svg with custom element
		.material-design-icon {
			width: 20px;
			height: 20px;

			// hide original box icon
			svg {
				display: none;
			}
	
			&::before {
				content: '';
				height: 14px;
				width: 14px;
				border-radius: var(--telekom-radius-small);
				border: 1px solid var(--color-border-maxcontrast);
			}
	
			// radio button is checked
			&.checkbox-marked-icon {
				svg {
					display: inline-block;
				}
				&::before {
					display: none;
				}
				// box-shadow: inset 0px 0px 0px 5px var(--telekom-color-primary-standard);
				// border-color: var(--telekom-color-primary-standard);
			}
		}

		// color indicator when label is hovered
		&:hover {
			.material-design-icon::before {
				border-color: var(--telekom-color-primary-standard);
			}
		}

		&-text {
			line-height: 1rem;
		}
	}
}

// radio button styling
span.checkbox-radio-switch-radio.checkbox-radio-switch {

	// change indicator color when hovered or focused
	&:not(&--disabled) {
		.checkbox-radio-switch__label:hover, .checkbox-radio-switch__label:focus-within {
			.material-design-icon::before {
				border-color: var(--telekom-color-primary-standard);
				cursor: pointer;
			}
		}
	}

	label.checkbox-radio-switch__label {
		margin: 0;
		
		// replace circle svg with custom element
		.material-design-icon {

			// hide original circle icon
			svg {
				display: none;
			}
	
			&::before {
				content: '';
				height: 18px;
				width: 18px;
				border-radius: 50%;
				border: 2px solid var(--color-border-maxcontrast);
			}
	
			// radio button is checked
			&.radiobox-marked-icon::before {
				background-color: var(--telekom-color-primary-standard);
				box-shadow: inset 0px 0px 0px 3px var(--telekom-color-text-and-icon-inverted-standard);
				border-color: var(--telekom-color-primary-standard);
			}
		}
	}
}

span.checkbox-radio-switch-radio.checkbox-radio-switch, .checkbox-radio-switch-checkbox.checkbox-radio-switch {
	&:not(&--disabled, &--checked):focus-within .checkbox-radio-switch__label,
	&:not(&--disabled, &--checked) .checkbox-radio-switch__label:hover {
		background-color: initial;
	}

	&--checked:not(&--disabled):focus-within .checkbox-radio-switch__label,
	&--checked:not(&--disabled) .checkbox-radio-switch__label:hover {
		background-color: initial;
	}

	// override min-height of checkbox
	label.checkbox-radio-switch__label {
		min-height: auto;
		padding: 0px;
	}

	// if checked and disabled color them gray
	&.checkbox-radio-switch--checked.checkbox-radio-switch--disabled {
		label.checkbox-radio-switch__label {
			.checkbox-radio-switch__icon {
				.material-design-icon::before {
					box-shadow: inset 0px 0px 0px 5px var(--telekom-color-ui-disabled);
					border-color: var(--telekom-color-ui-border-disabled);
				}
			}
		}
	}

	// disabled checkbox style
	&--disabled {
		label.checkbox-radio-switch__label:hover {
			cursor: not-allowed;
			.material-design-icon::before {
				cursor: not-allowed;
			}
			.checkbox-radio-switch__label-text {
				cursor: not-allowed;
			}
		}
	}
}
