// checkbox button styling
span.checkbox-radio-switch.checkbox-radio-switch-checkbox {	
	// do not set background color when on hover
	&:not(.checkbox-radio-switch--disabled) {
		.checkbox-radio-switch__label:hover, .checkbox-radio-switch__label:focus-within {
			background-color: initial;
		}
	}

	// do not set background color when on focus
	&.checkbox-radio-switch, &.checkbox-radio-switch--checked {
		&:focus-within .checkbox-radio-switch__label {
			background-color: initial;
		}
	}

	// on hover unchecked inputs
	&:not(.checkbox-radio-switch--checked):hover .checkbox-radio-switch__icon {
		color: var(--telekom-color-ui-regular);
	}

	.checkbox-radio-switch__label {
		// override min-height of checkbox
		min-height: auto;
		padding: 0px;
		// replace box svg with custom element
		.material-design-icon {
			width: 16px;
			height: 16px;

			// hide original box icon
			svg {
				display: none;
			}
	
			&::before {
				content: '';
				height: 14px;
				width: 14px;
				border-radius: var(--telekom-radius-small);
				border: 1px solid #191919;
			}
	
			// radio button is checked
			&.checkbox-marked-icon {
				svg {
					display: inline-block;
				}
				&::before {
					display: none;
				}
				// box-shadow: inset 0px 0px 0px 5px var(--telekom-color-primary-standard);
				// border-color: var(--telekom-color-primary-standard);
			}
		}

		// color indicator when label is hovered
		&:hover {
			.material-design-icon::before {
				border-color: var(--telekom-color-primary-standard);
			}
		}

		&-text {
			line-height: 1rem;
		}
	}
}

@media (prefers-color-scheme: dark) {    
	span.checkbox-radio-switch.checkbox-radio-switch-checkbox {
		// set unchecked inputs to be white
		&:not(.checkbox-radio-switch--checked) .checkbox-radio-switch__icon {
			span.material-design-icon {
				color: var(--telekom-color-ui-white);
			}
		}
	}
}

// radio button styling
span.checkbox-radio-switch.checkbox-radio-switch-radio {

	// do not set background color when hovered or focused
	&:not(.checkbox-radio-switch--disabled) {
		.checkbox-radio-switch__label:hover, .checkbox-radio-switch__label:focus-within {
			background-color: initial;
		}
	}

	// do not set background color when focused
	&.checkbox-radio-switch, &.checkbox-radio-switch--checked {
		&:focus-within .checkbox-radio-switch__label {
			background-color: initial;
		}
	}

	label.checkbox-radio-switch__label {
		min-height: auto;
		padding: 0px;

		// replace circle svg with custom element
		.material-design-icon {
			width: 18px;

			// hide original circle icon
			svg {
				display: none;
			}
	
			&::before {
				content: '';
				height: 14px;
				width: 14px;
				border-radius: 50%;
				border: 1px solid #191919;
			}
	
			// radio button is checked
			&.radiobox-marked-icon::before {
				box-shadow: inset 0px 0px 0px 5px var(--telekom-color-primary-standard);
				border-color: var(--telekom-color-primary-standard);
			}
		}

		// color indicator when label is hovered
		&:hover {
			.material-design-icon::before {
				border-color: var(--telekom-color-primary-standard);
				cursor: pointer;
			}
		}
	}

	// disabled checkbox style
	&.checkbox-radio-switch--disabled {
		label.checkbox-radio-switch__label:hover {
			cursor: not-allowed;
			.material-design-icon::before {
				cursor: not-allowed;
				border-color: initial;
			}
			.checkbox-radio-switch__label-text {
				cursor: not-allowed;
			}
		}
	}

}
