.header-menu {
    width: 48px;

    &__trigger {
        opacity: 1;
        width: 48px;

        // hover effect for function entries
        &:hover {

            span {
                color: var(--color-primary-hover);
            }

            &:not([aria-expanded="true"]) {

                &::before {
                    background-color: var(--color-primary);
                    border-bottom-color: var(--color-main-background);
                    bottom: 0;
                    content: " ";
                    display: block;
                    height: 2px;
                    left: 50%;
                    pointer-events: none;
                    position: absolute;
                    transform: translateX(-50%);
                    transition: all .1s ease-in-out;
                    width: 100%;
                }
            }
        }
    }

    // reposition flyout menus
    &__wrapper {
        background-color: var(--telekom-color-background-surface);
        box-shadow: var(--telekom-shadow-raised-standard);
        filter: none;
        margin: 0 var(--external-margin);
        top: calc(var(--header-height) + var(--external-margin));
    }

    &__carret {
        border-bottom-color: var(--telekom-color-background-surface);
        bottom: calc(var(--external-margin) * -1);
    }

    &__content {
        max-width: calc(100vw - 6 * var(--external-margin));
    }
}