.v-select.select {

	.vs__dropdown-toggle {
		border-width: 1px;
		border-radius: 12px;
	}

	.vs__actions {

		.chevron-down-icon {
			display: none;
		}
	}

	.vs__selected {
		height: 2rem !important;
		margin: 6px 2px !important;
		min-height: 2rem !important;
		background: var(--nmc-ods-blue-primary) !important;

		.option {
			font-size: 14px;
			height: 2rem;

			&__avatar, &__icon {
				display: none;
			}

			&__lineone {
				color: var(--nmc-color-text-and-icon-black) !important;
			}
		}

		.vs__deselect {
			svg {
				fill: var(--nmc-color-text-and-icon-black) !important;
			}
		}
	}
}
