@import '../_mixins.scss';

// styling for search popover from header
.header-right {

    .header-menu__content {

        .unified-search__input-wrapper {
            background-color: unset;
    
            label {
                display: none;
            }
        }

    }

    .unified-search__input-wrapper ~ .empty-content {
        display: none;
    }

    .empty-content {
        &__icon > .material-design-icon.magnify-icon {
            display: none;
        }
    }

    .header-menu {
        &__carret {
            display: none;
        }
    }
}

.unified-search__form {
    & #unified-search__input {
        border: 2px solid var(--telekom-color-ui-border-standard);
        border-radius: 5px;
        padding-top: 1.5rem;
        padding-bottom: 1.5rem;
        padding-left: 1rem;
    }

    & .unified-search__form-reset.icon-close {
        background-image: var(--icon-close-x-dark);
        opacity: 1;
        margin: 12px 3px;
    }
}

#header-menu-unified-search .header-menu__content .unified-search__results.unified-search__results-files {
    & .unified-search__results-header {
        color: var(--color-main-text);
        font-size: 16px;
    }

    & .unified-search__result {
        border: none;

        &:active,
        &:hover,
        &:focus {
            background-color: var(--nmc-color-background-hover);
            border: none;
        }
    }
}

#unified-search .unified-search-modal {
    padding-block: 1rem 0;
    
    &__header {
        .input-field {
            label.input-field__label {
                display: none;
            }
        }

        div.unified-search-modal__filters {
            gap: 0;

            // Hide People filter
            > .v-popper.v-popper--theme-dropdown {
                display: none;
            }

            button.button-vue {
                all: unset !important;

                &[title="Dateien"], &[title="Files"] {
                    display: none !important;
                }
                
                .button-vue__text {
                    color: var(--color-primary);
                }

                .button-vue__icon {

                    .material-design-icon {
                        background-repeat: no-repeat;
                        background-position: center;
                        background-size: 24px;
                        width: 26px;
                        height: 26px;
                        filter: var(--nmc-color-icon);
                    }

                    .filter-icon {
                        background-image: var(--icon-filter-dark);
                    }

                    .calendar-range-icon {
                        background-image: var(--icon-calendar-dark);
                    }

                    svg {
                        display: none;
                    }
                }
                svg {
                    color: var(--color-primary);
                }
            }
        }

        .unified-search-modal__filters-applied {
            .chip {
                .icon {
                    display: none;
                }

                background: var(--telekom-color-ui-faint);
                border-radius: 2px;
                border: 1px solid transparent;
            }
        }
    }

    &__results {
        .result {
            &-title {
                padding-bottom: 8px;
                span {
                    color: var(--color-primary-text);
                }
            }

            &-items {
                &__item {
                    .list-item {
                        margin: 0;
                        padding: 1rem;
                        border-radius: 4px;

                        &:hover {
                            background-color: var(--nmc-color-background-hover);
                        }

                        &__anchor {
                            height: 38px;
                            &:hover {
                                border: 2px solid rgba(0,0,0,0);
                                background-color: transparent;
                            }

                            .result-items__item-icon {
                                width: 42px;
                                height: 42px;
                            }
                        }
                    }
                }
            }

            &-footer {
                // 'Load more results' button
                button {
                    color: var(--color-primary);
                    .button-vue__icon {
                        display: none;
                    }
                }
            }
        }
    }
    
    &__no-content {

        .empty-content__icon {
            height: 128px;
            width: 128px;
            opacity: 1;

            .magnify-icon {
                background-image: var(--icon-search-dark);
                background-size: 128px;
                height: 128px;
                width: 128px;
    
                svg {
                    display: none;
                }
            }

        }

        .empty-content__name {
            font-weight: 400;
        }
    }
}
