#nmctooltip {
	display: none;
	position: absolute;
	padding: 1rem;
	max-width: 250px;
	background-color: var(--color-main-background);
	border-radius: var(--border-radius-large);
	box-shadow: 0px 12px 48px 0px hsla(0, 0%, 0%, 0.1), 0px 6px 12px 0px hsla(0, 0%, 0%, 0.1);
}

#nmctooltip_arrow {
	position: absolute;
	background: var(--color-main-background);
	width: 8px;
	height: 8px;
	transform: rotate(45deg);
}
